<!DOCTYPE html>

<html>

<head>
	<title>UMM - Tool</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css'%}">
    
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.5-dist/css/bootstrap.min.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.5-dist/css/bootstrap-theme.min.css'%}">
	<link href="{% static 'manage_admin/css/font-awesome.min.css' %}" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="{% static 'css/looper.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css'%}">
</head>

<body>

	<div class="container-fluid">
		<div class="container-fluid main-top-bar " >
			<div class="row">
				<div class="col-md-6" >
					<div  class="" ><a href="/" class="logo"><img src="{% static 'manage_admin/images/regalix_logo.jpg' %}" alt=""></a></div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-6">
					<!--h1 class="text-left text-danger" >{{sub_process.name}} Q'{{sub_process.quarter.quarter}} {{sub_process.quarter.quarter_year}}</h1!-->
						 </div>
						 <div class="col-md-6">		
					<div class="user" id='username_login'>	
						{{ user.get_full_name|default:user.username }} | 
						{% if is_manager %}
							<a href="/knowledgebase/admin/" class="logout  pull-right"> <i class="fa fa-group" aria-hidden="true"></i></a>
						{% endif %}
						<a href="{% url 'auth:logout' %}?next=/"  class="logout  pull-right"><i class="fa fa-power-off" aria-hidden="true"></i></a>
					
					</div>
					  		</div>
					  	</div>	
					
				</div>
			</div>
			<div class="row">
				<div class="container-fluid main-link">

					<a href="/" > <h3 class="adv "> Advertiser Goals </h3> </a>
					{% for sub_process in sub_processs %}
						<a href="/process/{{sub_process.process.id}}/sp/{{sub_process.url_name}}/view" target="_blank" data-processid="{{sub_process.id}}" class="process"> <h3 class="adv" > {{sub_process.name}} Q'{{sub_process.quarter.quarter}} {{sub_process.quarter.quarter_year}}</h3> </a>
					{%endfor %}
					<!--<a href="/apollo_home/" class="active"> <h3 clas="adv"> {{sub_process.name}} Q'{{sub_process.quarter.quarter}} {{sub_process.quarter.quarter_year}}</h3> </a>-->
					<hr class="line2">
				</div>
			</div>

			    <script>
			    	var cateList = [];
			    </script>	

		<div class="container-fluid main-category-bar" >
			<ul class="prgrm-tab main-option">
				{% for ptype in program_types %}
				<li ><a  data-programtype-id="{{ ptype.id }}" class="prg-type ">{{ ptype.name }}</a>
				</li>
				<script>
			    	 cateList.push({{ category.id }});
			     </script>	
			    {% endfor %}

			</ul>
			 
			<hr class="line">
			<div class="row sub-task" id="program-tasks">
				<!--<a class="sub-task-link" id="{{ task.id }}"></a>-->
			</div>
		</div>
		<div class="container-fluid" >
			<div class="row">
				<!--<div class="col-xs-12 col-md-3 col-md-3 col-lg-2 sub-row1">Combos Update</div>-->
				<div data-looper="go" class="looper" style="width:40%;">
					<div class="col-xs-12 col-md-9 col-md-9 col-lg-10 sub-row2 myclass looper-inner" data-toggle="modal" data-target="#myModal2">
						
				</div>
				</div>
				<div class="col-md-7 col-sm-12 right-box2">
				<!--<div class="col-xs-12 col-md-3 col-md-3 col-lg-2 sub-row3">-->
						<a id="budget_band" class ="sideclass" data-toggle="modal" data-target="#myModal3" style="margin-top: 4px;">Budget Bands</a>
				<!--</div>-->
					<!--<div class="col-xs-12 col-md-3 col-md-3 col-lg-2 sub-row4">-->
				    	<a id="addl-data" class ="sideclass" data-toggle="modal" data-target="#myModal " style="margin-top: 4px;"></a>
				    <!--</div>-->
				    <!--div class="col-xs-12 col-md-3 col-md-3 col-lg-2 sub-row5">
				    	<button><a id="implementation" class ="sideclass" data-toggle="modal" data-target="#myModal">Implementation Guide</a></button>
				    </div>
				    <div class="col-xs-12 col-md-3 col-md-3 col-lg-2 sub-row5">
				    	<button><a id="faqns" class ="sideclass" data-toggle="modal" data-target="#myModal">FAQ's</a></button>
				    </div-->
				</div>
				<!--<div class="col-md-7 col-sm-12 right-box2">
				<a id="budget_band" class="sideclass" data-toggle="modal" data-target="#myModal3">Budget Bands</a>
			    <a id="email_pitch" class="sideclass" data-toggle="modal" data-target="#myModal">Email Pitch Guidelines</a>
			    <a id="implementation" class="sideclass" data-toggle="modal" data-target="#myModal">Implementation Guide</a>
			    <a id="faqns" class="sideclass" data-toggle="modal" data-target="#myModal">FAQ's</a>
			</div>-->
				
			</div>
			</div>
		</div>

		<div class="container-fluid" style="background: #ffffff">
			<div class="row">
				<div class="col-md-12 table-box  " style="padding: 0">
					
						<table class="table">
							<thead>
								<tr id="key_row">
								
							    </tr>
							</thead>
							<tbody>
								<tr id="value_row">
								
							    </tr>
							</tbody>
						</table>
					
				</div>
			</div>
			<!--<div class="col-md-2 col-sm-3 right-box" >
				<a id="budget_band" class ="sideclass" data-toggle="modal" data-target="#myModal3">Budget Bands</a>
			    <a id="email_pitch" class ="sideclass" data-toggle="modal" data-target="#myModal">Email Pitch Guidelines</a>
			    <a id="implementation" class ="sideclass" data-toggle="modal" data-target="#myModal">Implementation Guide</a>
			    <a id="faqns" class ="sideclass" data-toggle="modal" data-target="#myModal">FAQ's</a>
			</div>-->
		</div>
		<div class="container-fluid last-row" >
			<div class="row"><h1>Elevator Pitch</h1></div>
			<br><p id="elevator_data"></p><br>
		</div>
	</div >

<div class="modal fade" id="myModal" >
	<div role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel"></h4>
			</div>
			<div class="modal-body">
				<div class="tabbable"> 
					<ul class="nav nav-tabs">
						<!--<li><a href="#epitch"  data-toggle="tab">Email Pitch Guidelines</a></li>
                        <li><a href="#impl" data-toggle="tab">Implementation Guide</a></li>
                        <li><a href="#faq" data-toggle="tab">FAQ's</a></li>-->
                    </ul>
                    <div class="tab-content">
                    	<!--<div class="tab-pane " id="epitch">
                    		
                    	</div>
                    	<div class="tab-pane" id="impl">
                    		
                    	</div>
                        <div class="tab-pane " id="faq">
        	
                        </div>-->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal2" >
	<div role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Combo Update</h4>
			</div>
			<div class="modal-body">
				<div class="table-responsive">
					<table class="table mytable">
						
					</table>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="myModal3">
	<div role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Budget Bands</h4>
			</div>
			<div class="modal-body budget-body">
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

</div>
	<script type="text/javascript" src="{% static 'js/jquery-2.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/looper.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
	<!--<script type="text/javascript" src="{% static 'js/script.js' %}"></script>-->
	<script type="text/javascript">
		$(document).ready(function(){
			sub_process = "{{sub_process.id}}"
			$('.process[data-processid='+ sub_process + "]").addClass('active');
			updateCarouseldata(sub_process);
	    	if('.prg-type'){
	    		$('.prg-type:first').addClass('make-active');
	    	}

		    $('.prg-type').click(function (e) {
		    	e.preventDefault();
		    	$('.prg-type').removeClass('make-active');
		    	$(this).addClass('make-active');
		    	updateTaskTypes($(this).attr('data-programtype-id'));
		    });	

		    $("body").on("click", ".prg-task", function(e){
				e.preventDefault();
		    	$('.prg-task').removeClass('active').css('background','#777777');
		    	$(this).addClass('active').css('background','#009b59');
		    	$('#addl-data').text('More about '+ $(this).text())
		    	loadTaskData($(this).data('programtype-id'));
		    	updateCarouseldata(sub_process);
		    });


			var loadTaskData = function(task_id){
				$.ajax({
		            url: '/get-task-data/'+task_id,
		            type: 'GET',
		            success: function(data) {
		            	$('#key_row').html('')
		            	$('#value_row').html('')
		            	var data = data['data'];
		            	if (data.length > 0){
		            		$column_name = $('#key_row');
		            		$column_value = $('#value_row');
		            		for(var i=0;i<data.length;i++){
		            			column_data = data[i].data.replace(/&nbsp;/g, ' ');
		            			$column_name.append('<th data-number="'+data[i].column_number+'" class="task-column tbl-btn" data-taskdata-id="'+data[i].data_id+'">'+ data[i].column_name+'</th>')
		            			$column_value.append('<td data-number="'+data[i].column_number+'" class="task-column tbl-btn" data-taskdata-id="'+data[i].data_id+'">'+ column_data +'</td>');
		            		}
		            	}

		            },
		            error: function(xhr, status, error) {
		                var err = eval("(" + xhr.responseText + ")");
		                alert(err.Message);
		                //alert("Something went wrong, please try after some time");
		            }
	    		});	
			}

			function updateTaskTypes(program_type_id){
				$('#program-tasks').html("")
	    		$.ajax({
		            url: '/get-program-tasks/'+program_type_id,
		            type: 'GET',
		            success: function(data) {
		            	if (data['data']){
		            		td_html = ''
		            		tsk_id = data['data'][0][Object.keys(data['data'][0])[0]];
		            		for(var i=0;i<data['data'].length;i++){
		            			task_name = Object.keys(data['data'][i])[0]
		            			task_id = data['data'][i][task_name]
		            			if (i == 0){
		            				td_html += "<a href='#' class='prg-task active sub-task-link' data-programtype-id="+task_id +">" + task_name +"</a>";         			
		            			}
		            			else{
		            				td_html += "<a href='#'  class='prg-task sub-task-link' data-programtype-id="+task_id +">" + task_name +"</a>"	            				
		            			}
		            		}
		            		$('#program-tasks').append(td_html);
		            		$('#addl-data').text('More about '+ $('.prg-task.active').text());
		            		loadTaskData(tsk_id);
		            	}
		            },
		            error: function(xhr, status, error) {
		                var err = eval("(" + xhr.responseText + ")");
		                alert(err.Message);
		                //alert("Something went wrong, please try after some time");
		            }
	    		});
			}
	        updateTaskTypes($('.prgrm-tab > li > a:eq(0)').attr("data-programtype-id"));

		    $("body").on("click", ".process", function(e){
		    	e.preventDefault()
		    	selected_sub_process = $(this).attr('data-processid');
		    	url = $(this).attr('href');
	    		$.ajax({
		            url: $(this).attr('href'),
		            type: 'GET',
		            success: function(data) {
		            	window.location.href = url;
		            	$('.process').removeClass('active');
		            	$('.process[data-processid='+ selected_sub_process + "]").addClass('active');

		            },
		            error: function(xhr, status, error) {
		                var err = eval("(" + xhr.responseText + ")");
		                alert(err.Message);
		                //alert("Something went wrong, please try after some time");
		            }	

		        });	    	
		    	

		    });

			function updateCarouseldata(sub_process_id){
				$.ajax({
		            url: '/get-carousel-data/'+sub_process_id,
		            type: 'GET',
		            success: function(data) {
		            	var data = data['data'];
		            	if (data.length > 0){
				            $('.looper').looper({
				            	 interval: 3000
				            });
				            for(i=0; i<data.length; i++)
				            {	
				                mytag=document.createElement('a');
				                mytag.setAttribute('id',data[i].data_id);
				                mytag.setAttribute('class', "item");
				                mytag.innerHTML = data[i].column_name;
				                $('.myclass').append(mytag);
				            }
				            $('.myclass').click(function(){
				                $('.mytable').empty();
				                for(i=0; i<data.length; i++)
				                {
				                    tablerow = document.createElement('tr');
				                    tablerow.setAttribute('class',"myrow" + i);
				                    $('.mytable').append(tablerow);
				                    newlink1=document.createElement('td');
				                    newlink1.innerHTML = data[i].column_name
				                    $('.myrow' + i).append(newlink1)
				                    newlink2=document.createElement('td');
				                    newlink2.innerHTML = data[i].data
				                    $('.myrow'+ i).append(newlink2)
				                }
				            });
		            	}

		            },
		            error: function(xhr, status, error) {
		                var err = eval("(" + xhr.responseText + ")");
		                alert(err.Message);
		                //alert("Something went wrong, please try after some time");
		            }
	    		});	
			}

			$("body").on("click", "#addl-data", function(e){
				e.preventDefault()
				$("#myModalLabel").html($('.prg-task.active').html());
				task_id = $('.prg-task.active').attr('data-programtype-id');
				$.ajax({
		            url: '/get-addldata/'+task_id,
		            type: 'GET',
		            success: function(data) {
		            	$('.nav.nav-tabs').append('');
		            	$('.tab-content').append('');
		            	li_html = ''
		            	div_html = ''
		            	for(var i=0;i<data['data'].length;i++){
		            		li_html = '<li><a href="" class="addl-data" data-id='+data['data'][i]['data_id'] + '" data-toggle="tab">'+ data['data'][i]['column_name'] + '</a></li>'
		            		div_html = '<div class="tab-pane"  data-id='+data['data'][i]['data_id'] + '" id="">' + data['data'][i]['data'].replace(/&nbsp;/g, ' ') + '</div>'
		            		$('.nav.nav-tabs').append(li_html);
		            		$('.tab-content').append(div_html);
		            	}
		            	$('.nav.nav-tabs li:first').addClass('active');
		            	$('.tab-content div:first').addClass('active');
		            	$("#myModal").show();
		            },			
		            error: function(xhr, status, error) {
		                var err = eval("(" + xhr.responseText + ")");
		                alert(err.Message);
		                //alert("Something went wrong, please try after some time");
		            }
    			});	
			})

			$("body").on("click", '[class^="addl-data"]', function(e){
				$('.tab-pane').removeClass('active')
				$('[class^="addl-data"]').removeClass('active');
				$(this).addClass('active');
				$(".tab-pane[data-id='"+ $(this).attr('data-id')).addClass('active');
			})

			$('#myModal').on('hidden.bs.modal', function (e) {
				$('.nav.nav-tabs').html('');
		        $('.tab-content').html('');
			});

			
	    });	

	</script>
</body>
</html>


