<!DOCTYPE html>
<html>
	<head>
		<title>Advertiser Goals</title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.5-dist/css/bootstrap.min.css'%}">
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.5-dist/css/bootstrap-theme.min.css'%}">
		<link href="{% static 'manage_admin/css/font-awesome.min.css' %}" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css'%}">
		<script src="{% static 'js/jquery-2.2.1.min.js'%}"></script>
	</head>
	<body>
        {% if user and not user.is_anonymous %}
        <div class="container-fluid topbar noborder">
			<div class="col-md-12 logo-img">
  				<div class="col-md-6" >
					<div  class="" ><a href="/" class="logo"><img src="{% static 'manage_admin/images/regalix_logo.jpg' %}" alt=""></a></div>
				</div>
				<div class="col-md-6" >
					<div class="user" id="username_login">	
						{{ user.get_full_name|default:user.username }} |
						{% if is_manager %}
							<a href="/knowledgebase/admin/" class="logout  pull-right"> <i class="fa fa-group" aria-hidden="true"></i></a>
						{% endif %}
						<a href="{% url 'auth:logout' %}?next=/" class="logout  pull-right"><i class="fa fa-power-off" aria-hidden="true"></i></a>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid main-link">
			<a href="/" class="active"> <h3 clas="adv "> Advertiser Goals </h3> </a>
			{% for sub_process in sub_processs %}
				<a href="process/{{sub_process.process.id}}/sp/{{sub_process.url_name}}/view" data-processid="{{sub_process.id}}" class="process"> <h3 clas="adv"> {{sub_process.name}} Q'{{sub_process.quarter.quarter}} {{sub_process.quarter.quarter_year}}</h3> </a>
			{%endfor %}
			<hr class="line2">
		</div>

		<div class="container-fluid">
		    <div class="col-md-12 option">
		      <div class="col-xs-12 col-sm-12 col-md-12 option">

		      <h4> <em class="text-danger">Select your advertiser goals &amp; hit 'Submit' button</em> </h4>

			      <form action="" id="goalform">
		            {% for g_map in goal_map %}
				      <div class="col-md-4">
				      <input type="checkbox" class="task" ><span class="task_name" id={{ g_map.id }}>{{ g_map.goal_name }}</span></input>
				      </div>       
				     {% endfor %}  
				      <div class="clearfix">&nbsp;</div>
				      <div class="pull-right"><button type="submit" class="btn btn-primary sbtn">SUBMIT</button>&nbsp; <button type="button" class="btn btn-default refresh">Refresh</button></div>
			      </form>
		      </div>

		       <div class="clearfix">&nbsp;</div> 

		      	<div class="col-xs-12 col-sm-12 col-md-12 taskwrap">
		       		<h1 class="bottom-row task-list">Task Recommendations</h1>
		     		<div class="clearfix"></div>

				    <div class=" col-xs-12 col-sm-12 col-md-12 taskrecommend">
				      		<h4 class="text-center"> <em class="text-danger"><br>Watch out this space for your task recommendations<br><br></em> </h4>
				    </div>
				    <div class=" col-xs-12 col-sm-12 col-md-12 taskrecommend2">
				      	
				    </div>
	     		</div>
	     		<div class="col-xs-12 col-sm-12 col-md-12 line3"></div>			
			    <div class="col-xs-12 col-sm-12 col-md-12 taskwrap">
		       		<h1 class="bottom-row">Additional Questions</h1>
		     		<div class="clearfix">  </div>
				    <div class="advertiser-goal">
				      		<h4 class="text-center"> <em class="text-danger"><br>Watch out this space for your advertiser goal better<br><br></em> </h4>
				    </div>
			    </div>

			    </div>
			  </div>
			  <script type="text/javascript" src="{% static 'js/custom.js'%}"></script>

          {% else %}
	         <div id="header">
			    <div id="header-content">
			      <a href="/"><div id="logo"></div></a>
			    </div>
			  </div>

			  <div id="extra"></div>

			  <div class="container">
			    <div class="login-container">
			      <div class="login">
		               <a href="{% url 'social:begin' 'google-oauth2' %}"><img src="{% static 'images/login.png'%}"></div></a>
		                </div>
			    </div>
			  </div>
			  {% if error %}
				  <div id="error">
				  		<p>{{error}}</p>
				  </div>
			  {% endif %}
			  
			  <div class="footer"></div>
         {% endif %} 
<script src="{% static 'manage_admin/js/jquery.min.js' %}"></script>
<script type="text/javascript">
	$(document).ready(function(){
	    /*$("body").on("click", ".process", function(e){
	    	e.preventDefault()
	    	selected_sub_process = $(this).attr('data-processid');
    		$.ajax({
	            url: $(this).attr('href'),
	            type: 'GET',
	            success: function(data) {

	            	$('.process').removeClass('active');
	            	$('.process[data-processid='+ selected_sub_process + "]").addClass('active');

	            },
	            error: function(xhr, status, error) {
	                var err = eval("(" + xhr.responseText + ")");
	                alert(err.Message);
	                //alert("Something went wrong, please try after some time");
	            }	

	        });	    	
	    	

	    });*/
	});
</script>  
</body>
</html>
	
