<!DOCTYPE html>
<html>
<head>
	<title>UMM TOOL</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.5-dist/css/bootstrap.min.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.5-dist/css/bootstrap-theme.min.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css'%}">
</head>
<body>
<div class="container-fluid">
	<div class="container-fluid main-top-bar " >
			<div class="row">
					<div class="col-md-6" >
						<div  class="img-responsive logo" ></div>
					</div>
					<div class="col-md-6">
						<h1 class="text-left text-danger" >UMM Offerings Q4'2015</h1>
					</div>
			</div>
			<div class="row">
				<div class="container-fluid main-link">
				<a href="/" class="active"> <h3 clas="adv "> Advertiser Goals </h3> </a>
				<a href="/"> <h3 clas="adv"> UMM offerings Q4 2015 </h3> </a>
				<hr class="line2">
			</div>
		</div>
	</div>

	<div class="container-fluid main-category-bar" >
		<ul class="main-option">
			  <li> <span class="active" > Home</span></li>
		      <li> <span> Forums</span></li>
		      <li> <span> Blog</span></li>
		      <li> <span > FAQ's</span></li>
		</ul>
		<hr class="line">
		<div class="row sub-task">
			<a class="sub-task-link active" href="/" >ABCDEFGHIJKQRSTU</a>
			<a class="sub-task-link " href="/" >ABCDEFGHOPQRSTU</a>
			<a class="sub-task-link " href="/" >ABCDEFLMNOPQRSTU</a>
			<a class="sub-task-link " href="/" >ABCDEFGHIOPQRSTU</a>
			<a class="sub-task-link " href="/" >ABCDEFGHIJKLMNOPQRSTU</a>
			<a class="sub-task-link " href="/" >ABCDEFGHIJKLMNOPQRSTU</a>
			<a class="sub-task-link " href="/" >ABCDEFGHIQRSTU</a>
			<a class="sub-task-link " href="/" >ABCDEFGHIJKLMNOPQRSTU</a>
			<a class="sub-task-link " href="/" >ABCDEFGHIJKLMNOPQRSTU</a>
		</div>
	</div>

	<div class="container-fluid" >
		<div class="row">
			<div class="col-xs-12 col-md-3 col-md-3 col-lg-2 sub-row1">Combos Update</div>
			<div class="col-xs-12 col-md-9 col-md-9 col-lg-10 sub-row2"> keep changing tab </div>	
		</div>
	</div>

	<div class="container-fluid table-box " >
		 <div class="col-md-10 col-sm-9 table-setting">                                                                                 
			  <div class="table-responsive">          
				  <table class="table">
				    <thead>
				      <tr>
				        <th>Task Definition</th>
				        <th>Points</th>
				        <th>Win Criteria</th>
				        <th>Adoption Level</th>
				        <th>Auto Adoption Status</th>
				        <th>Timeframe</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr>
				        <td><p>Pitgdddddd </p></td>
				        <td><p>Pitggg</p></td>
				        <td><p>Pitggg fsdfsdfsd </p></td>
				        <td><p>Pitggdfd dsfsdf g</p></td>
				        <td><p>Pitgdsf ffdfdf dfdsfgg</p></td>
				        <td><p>Pitdfd dfdfdf dfdfdf dfdfdf dfdf ggg</p></td>
				      </tr>
				     
				    </tbody>
				  </table>
			  </div>
		 </div> 
		  <div class="col-md-2 col-sm-3 right-box" >
		  		<a class="" href="/">Budget Bands</a>
		  		<a class="" href="/">Email Pitch Guidelines</a>
		  		<a class="" href="/">Implementation Guide</a>
		  		<a class="" href="/">FAQ's</a>

		  </div>
	</div>

	<div class="container-fluid last-row" >
		<div class="row"><h1>Elevator Pitch</h1></div>
		<br><p>hkfhkhfdkghjk dfjgfdjg dfbdfghkdfsjghfhfdsg dhfgkjdhkdfh kjhshfsdhfdj khfdksfddfkjh dfskhfdksfdhsdfkhf hfdkmncxzbxcv,cxvbiudssduf qweryydsfdfidfufds bvhfnghvbhfgt ndhc dhdsj ndhcnd sjhdfiutryhadnm bnjxbdjhdhchdis bvhgfry vxgdfvcgr vcgfdvdtc bchds nfjjft nghvbjgn nvjnvnnv nfvnjngn</p><br>
	</div>
</div >

</body>
</html>


