<!DOCTYPE html>
<html>
	<head>
		<title>Advertiser Goals</title>
		{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.5-dist/css/bootstrap.min.css'%}">
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.3.5-dist/css/bootstrap-theme.min.css'%}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/custom.css'%}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	</head>
	<body>
        {% if user and not user.is_anonymous %}
        <div class="container-fluid topbar noborder">
			<div class="col-md-12 logo-img">
  				<div class="col-md-6" >
					<div  class="img-responsive logo" ></div>
				</div>
				<div class="col-md-6" >
					<div class="user" id="username_login">	
						{{ user.get_full_name|default:user.username }} |
						<a href="{% url 'auth:logout' %}?next=/">Logout</a>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid main-link">
			<a href="/" class="active"> <h3 clas="adv "> Advertiser Goals </h3> </a>
			<a href="/umm/"> <h3 clas="adv"> UMM offerings Q{{quarter.1}}'{{quarter.2}} </h3> </a>
			<hr class="line2">
		</div>

		<div class="container-fluid">
		    <div class="col-md-12 option">
		      <div class="col-xs-12 col-sm-12 col-md-12 option">

		      <h4> <em class="text-danger">Select your advertiser goals &amp; hit 'Submit' button</em> </h4>

			      <form action="" id="goalform">
		            {% for g_map in goal_map %}
				      <div class="col-md-4">
				      <input type="checkbox" class="task" ><span class="task_name" id={{ g_map.id }}>{{ g_map.goal_name }}</span></input>
				      </div>       
				     {% endfor %}  
				      <div class="clearfix">&nbsp;</div>
				      <div class="pull-right"><button type="submit" class="btn btn-primary sbtn">SUBMIT</button>&nbsp; <button type="button" class="btn btn-default refresh">Refresh</button></div>
			      </form>
		      </div>

		       <div class="clearfix">&nbsp;</div> 

		      	<div class="col-xs-12 col-sm-12 col-md-12 taskwrap">
		       		<h1 class="bottom-row task-list">Task Recommendations</h1>
		     		<div class="clearfix"></div>

				    <div class=" col-xs-12 col-sm-12 col-md-12 taskrecommend">
				      		<h4 class="text-center"> <em class="text-danger"><br>Watch out this space for your task recommendations<br><br></em> </h4>
				    </div>
				    <div class=" col-xs-12 col-sm-12 col-md-12 taskrecommend2">
				      	
				    </div>
	     		</div>
	     		<div class="col-xs-12 col-sm-12 col-md-12 line3"></div>			
			    <div class="col-xs-12 col-sm-12 col-md-12 taskwrap">
		       		<h1 class="bottom-row">Additional Questions</h1>
		     		<div class="clearfix">  </div>
				    <div class="advertiser-goal">
				      		<h4 class="text-center"> <em class="text-danger"><br>Watch out this space for your advertiser goal better<br><br></em> </h4>
				    </div>
			    </div>

			    </div>
			  </div>
			  <script type="text/javascript" src="{% static 'js/custom.js'%}"></script>

          {% else %}
	         <div id="header">
			    <div id="header-content">
			      <a href="/"><div id="logo"></div></a>
			    </div>
			  </div>

			  <div id="extra"></div>

			  <div class="container">
			    <div class="login-container">
			      <div class="login">
		               <a href="{% url 'social:begin' 'google-oauth2' %}"><img src="{% static 'images/login.png'%}"></div></a>
		                </div>
			    </div>
			  </div>
			  {% if error %}
				  <div id="error">
				  		<p>{{error}}</p>
				  </div>
			  {% endif %}
			  
			  <div class="footer"></div>
         {% endif %} 
  
</body>
</html>