body{min-height: 750px;}

.main-top-bar{
    background: #ffffff;
    padding: 18px 0 14px 0;
    border-bottom: 1px solid #cfcfcf;
    margin-bottom: 6px;
}
.logo {
    background: url(../../static/images/regalix_logo.jpg) no-repeat;
    width:350px;
    height:80px;
}
.main-category-bar{
    background: #4d4d4d;
    padding: 18px;
    margin-bottom: 10px;
}
.main-option{
    margin-left:-40px;
}
.main-category-bar ul li a {
    text-decoration: none;
    font-size: 24px;
    line-height: 34px;
    color: #ffffff;
    font-weight: normal;
    text-transform: uppercase;
    border-bottom: 3px solid #4d4d4d;
    padding-bottom: 12px;
    display: block;
    cursor: pointer; 
}
.main-category-bar ul li.active a {
    border-bottom: 3px solid #ffb609;
    color: #ffb609;
    margin-bottom: -1px;
}
.main-category-bar ul li {
    display: inline-block;
    list-style-type: none;
    padding: 10px 30px 0 0;
    margin: 0;
    float: left;
}
hr.line {
    margin-top: 0px;
    clear: both;
    border-color: #fff;
    display: block;
    width: 100%;
}
.sub-task {
    background: #f2f2f2;
    padding: 10px;
    margin: 1px;
    width: 100%;
}
.sub-task-link {
    display: block;
    float: left;
    text-decoration: none !important;
    padding: 10px 18px;
    margin: 0 8px 10px 0;
    background: #777777;
    font: normal 14px/18px Arial;
    color: #ffffff;
    cursor: pointer;
}
.sub-task-link.active,.sub-task-link:hover {
    background: #009b59;
    color: #ffffff;
}
.sub-row1 {
    background-color: #3E85ED;
    color: #ffffff;
    font-size: 21px;
    text-align: ;
    padding: 10px;
    text-align: center;
}
.sub-row2 {
	background: #F0F5F5;
	padding: 15px;
    text-align: left;
    text-decoration: underline;
    overflow: auto;  
}
.table-box {
    background: #ffb607;
    margin-bottom: 10px;
    margin-top: 10px;

}
.table-setting { margin-left: -30px !important; 
				margin-right: -30px !important }

.table-box table { height:200px; margin:0px;}

.table-box .table { background: #009b59; 
					margin: 0; width:100%; }

.table-box .table thead { background: #007944;}

.table-box .table>thead>tr>th {
							 border: 0;
							 height:40px;
							 text-align:center; 
							 font-size: 16px; 
							 color: #fff; 
							 padding: 12px 14px; 
							 font-weight: bold; 
							 border-right: 1px solid #ffffff;
							 vertical-align: top;
}

.table-box .table>tbody>tr>td {
							border-right: 1px solid #ffffff;
						    font-size: 14px;
						    color: #fff;
						    padding: 12px 14px;
						    vertical-align: top;
						    margin-top:10px;
						    text-align:center; 
}

.right-box { 
			padding: 8px 8px 8px 8px; 
			margin-left:20px;
}

.right-box a {
			 display: block; margin-bottom: 7px; 
			 background: #ffffff; color: #000; 
			 font-size: 14px; 
			 text-decoration: none; 
			 padding: 8px 15px;
			 min-width:235px;
             cursor: pointer; 


}

.right-box a:hover { 
					background: #d2d2d2; color: #666666; 
					text-decoration: none ;
}

.last-row{
		  background: #e6e6e6;
		  margin-bottom:12px;
          
}

.last-row h1 { 
				display: inline-block;
			    margin: 0 0 0 0;
			    padding: 15px 32px;
			    background: #007944;
			    font-size: 16px;
			    color: #ffffff;
			    font-weight: bold;
}





/* ++++++++++++ Addgoal html page css ++++++++++++   */

.main-link a{
    display: inline-block;
    margin: 0 20px 0 0;
    color: #4d4d4d;
    font-size: 20px;
    font-weight: 500;
    padding: 0 0 5px 0;
    border-bottom: 3px solid #fff;
text-decoration: none;}

.main-link .active h3 {
    border-bottom: 3px solid #ffb607;
    color: #ffb607;
    padding-bottom: 10px;
    margin-bottom: -1px;
}
hr.line2 {
    margin: 0 0 10px 0;
    clear: both;
    border-top: 1px solid #ccc;
    display: block;
    width: 100%;
    height: 10px;
    margin-top: -8px;
}
.option { padding: 0 !important }
.noborder{border:none !important}

.topbar { background:#fff; 
        padding: 18px 0 14px 0;
        border-bottom: 1px solid #cfcfcf;
         margin-bottom: 6px }

.taskwrap{background:#f2f2f2;padding:10px;min-height: 165px;}
#goalform{font-size:16px;margin:20px 0 0 0}
#goalform label{float:left;width:90%;font-weight:normal}
#goalform input{float:left;width:10%}

hr.line3 {   
    border-top: 1px solid #ccc;
    width: 100%;
    height: 10px;
    position: relative;
    top: 15px;
}
.taskrecommend{
    padding:20px 0 0 20px;
}
.advertiser-goal{
    padding:20px 0 0 20px;
}

.taskwrap{margin-bottom: 10px;}

.line3{height: 2px;
       width: 100%;
       background: #EEEEEE;
       margin-bottom: 10px; 
}

h1.bottom-row { display: inline-block; margin:0; padding: 15px 32px; background: #007944; font-size: 16px; color: #fff;font-weight:bold }

/* ++++++++++++ ummoffering html page css ++++++++++++   */
.main-link a{
    display: inline-block;
    margin: 0 20px 0 0;
    color: #4d4d4d;
    font-size: 20px;
    font-weight: 500;
    padding: 0 0 5px 0;
    border-bottom: 3px solid #fff;
text-decoration: none;}

.main-link .active h3 {
    border-bottom: 3px solid #ffb607;
    color: #ffb607;
    padding-bottom: 10px;
    margin-bottom: -1px;
}


/* Important part */
.modal-dialog{
    overflow-y: initial !important
}
.modal-title{
    font-size: 26px !important;
}

.modal-body{
    overflow-y: auto;
    height: 700px;
}

.looper{
        float: left;

}
.item{
        cursor: pointer; 
        font-size: 17px !important;

}

.make-active{
    color: #ffb609 !important;
    border-bottom: 3px solid #FFAB07!important;;
}

.make-active-subtask{
    background-color: #009b59 !important;
}

.nav-tabs li a{
    font-size: 20px;
}
.nav-tabs>li.active>a{
     background-color: #007944 !important;
     border: 0px solid #009b59 !important;
}
.tab-pane.active p{
    margin-top: 20px !important;
}

.nav-tabs>li.active {
     background-color: #007944 !important;
     border: 0px solid #009b59 !important ; 
}
#header{width: 100%;
        background: transparent url('../images/header-bg.png') repeat-x scroll 0% 0%;
        height: 104px;
}

#header-content{width: 1000px;
                height: 98px;
                margin: 0px auto;
}

#logo{background: transparent url('../images/logo.png');
      width: 153px;
      height: 39px;
      background-repeat: none;
      float: left;
      margin-top:30px; 
}

#extra{height:0px;
       border-top: 1px solid #CCC;
       margin-top: 0px;
}

.login-container{width: 381px;
                 height: 342px;
                 background: transparent url("../images/login-bg.png") no-repeat scroll 0% 0%;
                 margin: 6% auto 0px;
}

.login{width: 132px;
       height: 72px;
       float: left;
       margin: 34.5% 39.5%;
}

.footer{width: 100%;
        height: 5%;
        background:#991B1E;
        position: absolute;
        bottom: 0px; 


}

#error{margin-left: 30%;
      margin-top: 20px;
}

.user{float: right;
     padding-top: 15px;
     padding-right: 35px;
}

.table.mytable>tbody>tr>td{
     border: 1px solid black !important;
}
.ummheading, .user{

     float: right;
}

#username_login{
    padding-top: 30px;
}
.right-box2 a {
             display: inline-block; margin:20px 0; 
             background: #ffb607; color: #fff; 
             font-size: 14px; 
             text-decoration: none; 
             padding: 8px 15px;
            
             cursor: pointer;  


}

.right-box2 a:hover { 
                    background: #d2d2d2; color: #666666; 
                    text-decoration: none ;
}