@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, ddress, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {font-family: 'Open Sans', sans-serif;font-weight:300; font-size:13px; color:#000000; background: #f2f2f2 }
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}

.top-white-bg{ background:#fff; border-bottom: 1px solid #e9e9e9; padding: 15px 0}
a.logo{ display:block; margin-top: 7px}
a.process-btn{ display:inline-block; background: #c92127; text-decoration: none; color: #fff; font-weight: 700; padding: 7px 20px; text-transform: uppercase; border-radius: 2px; margin-right: 40px}
a.logout{ font-size:16px; color: #000; margin-top: 5px; margin-right: 20px;}

.process-box{ padding: 30px 0px;}
.process-box .white-bg{background:#fff; border: 1px solid #e9e9e9; padding: 20px; height: 240px; margin-bottom: 30px}
.process-box a h1{position: absolute;top: 40%;left: 50%;margin-right: -50%;transform: translate(-50%, -50%); font-size:28px; color: #000; text-transform: uppercase; text-decoration: none; font-weight: 700}

.process-box2{ padding: 30px 0px;}
.process-box2 .white-bg{background:#fff; border: 1px solid #e9e9e9; padding: 20px; margin-bottom: 30px}
.process-box2 .fa{color: #000; font-size: 18px; margin-bottom: 20px;}
.process-box2 .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #f2f2f2;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.process-box2 .breadcrumb {
    border-radius: 0px;
}
.process-box2 .btn-default.active.focus,.btn-default.active:focus,.btn-default.active:hover,.btn-default:active.focus,.btn-default:active:focus,.btn-default:active:hover,.open>.dropdown-toggle.btn-default.focus,.open>.dropdown-toggle.btn-default:focus,.open>.dropdown-toggle.btn-default:hover{color:#333;background-color:transparent;border-color:#8c8c8c}

.process-box2 .btn-default:hover{color:#333;background-color:transparent;border-color:#adadad}

.process-box2 .btn-primary {
    color: #fff;
    background-color: #4ed966;
    border-color: #4ed966;
}
.process-box2 .btn-primary.active.focus,.btn-primary.active:focus,.btn-primary.active:hover,.btn-primary:active.focus,.btn-primary:active:focus,.btn-primary:active:hover,.open>.dropdown-toggle.btn-primary.focus,.open>.dropdown-toggle.btn-primary:focus,.open>.dropdown-toggle.btn-primary:hover{color:#fff;background-color:#4ed966;border-color:#4ed966}
.checkbox label .toggle,
.checkbox-inline .toggle {
    margin-left: -20px;
    margin-right: 5px;
}

.toggle {
    position: relative;
    overflow: hidden;
}
.toggle input[type="checkbox"] {
    display: none;
}
.toggle-group {
    position: absolute;
    width: 200%;
    top: 0;
    bottom: 0;
    left: 0;
    transition: left 0.35s;
    -webkit-transition: left 0.35s;
    -moz-user-select: none;
    -webkit-user-select: none;
}
.toggle.off .toggle-group {
    left: -100%;
}
.toggle-on {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 50%;
    margin: 0;
    border: 0;
    border-radius: 0;
}
.toggle-off {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    margin: 0;
    border: 0;
    border-radius: 0;
}
.toggle-handle {
    position: relative;
    margin: 0 auto;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 100%;
    width: 0px;
    border-width: 0 1px;
}

.toggle.btn { min-width: 59px; min-height: 34px; }
.toggle-on.btn { padding-right: 24px; }
.toggle-off.btn { padding-left: 24px; }

.toggle.btn-lg { min-width: 79px; min-height: 45px; }
.toggle-on.btn-lg { padding-right: 31px; }
.toggle-off.btn-lg { padding-left: 31px; }
.toggle-handle.btn-lg { width: 40px; }

.toggle.btn-sm { min-width: 50px; min-height: 30px;}
.toggle-on.btn-sm { padding-right: 20px; }
.toggle-off.btn-sm { padding-left: 20px; }

.toggle.btn-xs { min-width: 35px; min-height: 22px;}
.toggle-on.btn-xs { padding-right: 12px; }
.toggle-off.btn-xs { padding-left: 12px; }
.padding-15{ padding:15px}
.process-create {padding: 30px 0px;}
.edit{ width: 70px; text-align: right;margin-right: 20px;}
.edit a{ font-size: 20px; color: #000;  margin-top: 5px; display: block;}
.edit2{ width: 70px; text-align: right;margin-right: 5px;}
.edit2 a{ font-size: 20px; color: #000;  margin-top: 5px; display: block; float: right; margin-left: 15px}
.edit-white{ width: 70px; text-align: right;}
.edit-white a{ font-size: 20px; color: #fff}
.process-create .disabled{ pointer-events: none; opacity: 0.5;background: #CCC; margin-top: 30px}
.process-create .enabled{  margin-top: 30px}
.process-create .white-bg{ background:#fff}
.process-create .red-bg{ background:#c92127; padding: 5px 20px}
.create-heading { width:91%}
.create-heading h1{ font-size: 30px; font-weight: 600;}
.create-heading h2{ font-weight: 600; color: #fff; padding-top: 5px}
.create-heading h3{ font-weight: 600; color: #000; padding-top: 5px; padding-left: 10px}
.gray-bg{ padding:10px 10px 15px; background: #f5f5f5;; margin-top: 20px}

.program-type{ border-bottom: 1px solid #000;}
.sub-text{border-bottom: 1px solid #fff; margin-top: 0px}
ul.process-tab { margin-top: 5px}
ul.process-tab  li{ display: inline-block}
ul.process-tab  li:after{ content:'|' ; color: #dc7175;padding:0px 10px}
ul.process-tab  li a{ color: #fff; font-weight: 600; text-decoration: none}
ul.process-tab  li a.active{ color: #f4da2b}
ul.prgrm-tab { margin-top: 5px}
ul.prgrm-tab  li{ display: inline-block;padding:0px 10px; margin-bottom: 5px}
ul.prgrm-tab  li a{ color: #000; font-weight: 600; text-decoration: none}
ul.prgrm-tab  li a.active{ color: #c92127}

.table-style a{ color: #666; text-decoration: none}
.table-style a.active{ color: #c92127;}

a.tbl-btn{color: #999999; text-decoration: none; border: 1px solid #999; border-radius: 2px; display: inline-block; width: 200px; text-align: center; padding: 5px 0px; margin:4px; outline: none}

.margin-bottom-10px{ margin-bottom: 10px}
.modal-style .modal-title{ color: #000; font-weight: 600}
.modal-style .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.modal-style textarea.form-control{ height: 100px}
.modal-style .modal-header {
    padding: 15px 15px 0px;
    border-bottom: 0px solid #e5e5e5;
}
.modal-style .close {
    float: right;
    font-size: 30px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity:0.9; outline: none
}
.modal-style .btn-primary{
    background-color: #c92127;
    border-color: #c92127;
}
.modal-style .btn-primary:hover {
    background-color: #c92127;
    border-color: #c92127;
}
modal-style .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 700;
    border-radius: 2px; text-transform: uppercase;
}
/*Responsive Start*/
@media only screen and (min-width: 992px) and (max-width: 1219px) {
    
}
@media only screen and (max-width: 1024px) {

}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    .process-box .white-bg img{ width:100%;}
}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
    .process-box .white-bg { height:100px}
    .process-box .white-bg img{ width:100%;top:0; position: inherit; left:0;margin-right:0; transform:none}
}

@media only screen and (max-width: 767px) {
    a.logo img{ width: 100%}
    a.process-btn{ margin-right:20px; text-transform:none; padding: 5px 10px}
    .process-box .white-bg { height:100px}
    .process-box .white-bg img{ width:100%;top:0; position: inherit;left:0;margin-right:0;transform:none}
    .create-heading h1{ font-size:24px; }
}

.modal-style .modal-title2{ color: #000; font-weight: 600; font-size: 16px}
.modal-style .facebox-alert {
    color: #796620;
    background-color: #f8eec7;
    border-color: #f2e09a;
        padding: 10px 15px;
    margin: 0px -15px 15px;
    border-style: solid;
    border-width: 1px 0;
}
.modal-style p{ line-height:18px; padding-bottom: 10px}
.modal-style .btn-danger {
    color: #c92127;
    background-color: #eee;
    border-color: #ddd;
}
.modal-style  .btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;-webkit-transition:  all 0.5s ease 0s;
     -moz-transition:  all 0.5s ease 0s;
     -ms-transition:  all 0.5s ease 0s;
     -o-transition:  all 0.5s ease 0s;
     transition:  all 0.5s ease 0s;
}