{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Admin Panel</title>

    <!-- Bootstrap -->
    <link href="{% static 'manage_admin/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'manage_admin/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'manage_admin/css/style.css' %}" rel="stylesheet">
    <!--<link href="{% static 'manage_admin/css/jquery-ui.css' %}" rel="stylesheet">-->
    <link href="{% static 'manage_admin/css/datepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'manage_admin/css/formValidation.min.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--<style type="text/css">
    	.ui-datepicker-calendar,.ui-datepicker-month { display: none; }
    </style>-->
  </head>
  <body>
    <section class="top-white-bg">
		<div class="container">
			<div class="row">
				<div class="col-xs-4 col-md-6 col-sm-6">
					<a href="/umm/manage-admin/" class="logo"><img src="{% static 'manage_admin/images/logo.png' %}" alt=""></a>
				</div>
				<div class="col-xs-8 col-md-6 col-sm-6">
					<a href="{% url 'auth:logout' %}?next=/" class="logout  pull-right"><i class="fa fa-power-off" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</section>
	
	<section class="process-create">
	  	<div class="container">
			<div class="create-heading text-uppercase pull-left">
				<h1 data-processid="{{data.process_id}}">{{data.process_name}}</h1>
			</div>
			<div class="edit pull-right">
				<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
			</div>
			<div class="clearfix"></div>
			<div class="enabled">
				<div class="white-bg">
					<div class="red-bg clearfix">
						<div class="create-heading pull-left">
							<ul class="process-tab">
								<li><a href="#" data-subprocessid="{{data.sub_process_id}}" class="active">{{data.sub_process_name}}</a></li>
							</ul>
						</div>
						<div class="edit-white pull-right">
							<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
						</div>
					</div>

					<div class="padding-15">
						<script type="text/javascript"> tasks = []</script>
						<div class="program-type clearfix">
							<div class="create-heading pull-left">
								 <ul class="prgrm-tab">
								 {% for key, val in data.programs.iteritems %}
									<li><a href="#"  data-programtype-id="{{val.id}}" class="prg-type">{{key}}</a></li>
								 {% endfor %}

								 </ul>
						    </div>
							<div class="edit2 pull-right">
								<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
							</div>
						</div>	
						<table class="table table-style" id="program-tasks">
						</table>
						<div class="gray-bg" style="border-bottom: 1px solid #000;">
							<div class="sub-text clearfix">
								<div class="create-heading pull-left">
								<h3>Task Data </h3>
								</div>
								<div class="edit2 pull-right">
									<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
									<a href="#" id="add-columns"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a>
								</div>
							</div>
							<div class="white-bg">
								<div class="padding-15" id="columns">
									<a href="#" class="task-column tbl-btn" data-number="1" data-taskdata-id="">Column Name	</a>
									<a href="#" class="task-column tbl-btn" data-number="2" data-taskdata-id=''>Column Name	</a>
									<a href="#" class="task-column tbl-btn" data-number="3" data-taskdata-id=''>Column Name	</a>
									<a href="#" class="task-column tbl-btn" data-number="4" data-taskdata-id=''>Column Name	</a>
									<a href="#" class="task-column tbl-btn" data-number="5" data-taskdata-id=''>Column Name </a>
								</div>
							</div>
						</div>
						<div class="sub-text clearfix">
								<div class="create-heading pull-left">
								<h3>Combo Update</h3>
								</div>
								<div class="edit2 pull-right">
									<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
								</div>
							</div>
							<div class="sub-text clearfix">
								<div class="create-heading pull-left">
								<h3>Additional Task Data </h3>
								</div>
								<div class="edit2 pull-right">
									<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
								</div>
							</div>
					</div>
				</div>
			</div>	
		</div>
	  </section>
  
  	  <div class="modal-style" style="width:100%">
  		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
		  <div class="modal-dialog" role="document" style="width: 80%;">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">Table Heading</h4>
		      </div>
		      <div class="modal-body">
		        <form id="taskDataForm">
		          <input type="hidden" class="form-control" name='program_task' value='' >
		          <input type="hidden" class="form-control" name='task_data_id' value='' >
		          <input type="hidden" class="form-control" name='column_number' value='' >
		          <div class="form-group">
		            <input type="text" class="form-control" name="column_name" id="column-name" placeholder="Task Definition	">
		            <p id="column-name-error" style="color:red"></p>
		          </div>
		          <h4 class="modal-title margin-bottom-10px" >Table Text</h4>
		          <div class="form-group">
		            <textarea class="form-control" name="column_data" id="message-text"></textarea>
		          </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-primary"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
			        <button type="submit" class="btn btn-primary" id="taskFormSubmit">Save</button>
			      </div>
		        </form>
		      </div>
		      <!--<div class="modal-footer">
		        <button type="button" class="btn btn-primary"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
		        <button type="button" class="btn btn-primary">Save</button>
		      </div>-->
		    </div>
		  </div>
		</div>	
	  </div>
  
  
  
   
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'manage_admin/js/jquery.min.js' %}"></script>
    <script src="{% static 'manage_admin/js/bootstrap-datepicker.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'manage_admin/js/formValidation.min.js' %}"></script>
    <script src="{% static 'manage_admin/js/form_bootstrap.min.js' %}"></script>
    <script src="{% static 'manage_admin/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'ckeditor/ckeditor.js' %}"></script>
    <!--<script src="{% static 'manage_admin/js/jquery-ui.min.js' %}"></script>-->
	<script type="text/javascript">
	$(document).ready(function(){
	    CKEDITOR.replace('message-text');

	    $("body").on("click", ".task-column", function(e){
	    	e.preventDefault();
	    	$that = $(this);
	    	var data_id = $that.attr("data-taskdata-id");
	    	var data = $that.attr("data-columndata");
	    	var column_name = $that.text();
	    	var column_number = $that.data("number");
	    	if (data_id)
	    		$('input[name=task_data_id]').val(data_id);
	    	$('.task-column').removeClass('active');
	    	$that.addClass('active');
	    	if (data && data.length > 0){
	    		$("#column-name").val(column_name);
	    		CKEDITOR.instances["message-text"].setData(data);
	    	}else{
	    		$("#column-name").val('');
	    		CKEDITOR.instances["message-text"].setData('');
	    	}
	    	//if(column_number)
	    	$('input[name=column_number]').val(column_number);
	    	/*else
	    		$('input[name=column_number]').val('');*/
  			$('#exampleModal').modal('show');
  			return false;
	    });

		var loadTaskData = function(task_id){
			$.ajax({
	            url: '/get-task-data/'+task_id,
	            type: 'GET',
	            success: function(data) {
	            	
	            	var data = data['data'];
	            	if (data.length > 0){
	            		$col = $("#columns");
	            		$col.html('');
	            		for(var i=0;i<data.length;i++){
	      					$col.append('<a href="#" data-number="'+data[i].column_number+'" class="task-column tbl-btn" data-taskdata-id="'+data[i].data_id+'" data-columndata="'+data[i].data+'">'+ data[i].column_name+'</a>');
	            		}
	            	}
	            },
	            error: function(xhr, status, error) {
	                var err = eval("(" + xhr.responseText + ")");
	                alert(err.Message);
	                //alert("Something went wrong, please try after some time");
	            }
    		});	
		}

	    $('.prg-type').click(function (e) {
	    	e.preventDefault();
	    	$('.prg-type').removeClass('active');
	    	$(this).addClass('active');
	    	updateTaskTypes($(this).attr('data-programtype-id'));
	    });

		$('.prg-task').on('click', function(e) {
			e.preventDefault();
	    	$('.prg-task').removeClass('active');
	    	$(this).addClass('active');
	    });

	    $('#add-columns').on('click',function(e) {
	    	e.preventDefault();
	    	var column_number = parseInt($("#columns > a:last-child").data("number")) + 1;
	    	$('#columns').append('<a href="#" data-number="'+column_number+'" class="task-column tbl-btn" data-taskdata-id="" data-columndata="">Column Name</a>');
	    });
    	
    	function updateTaskTypes(program_type_id){
    		$('#program-tasks').html("")
    		$.ajax({
	            url: '/get-program-tasks/'+program_type_id,
	            type: 'GET',
	            success: function(data) {
	            	if (data['data']){
	            		td_html = ''
	            		tsk_id = data['data'][0][Object.keys(data['data'][0])[0]];
	            		for(var i=0;i<data['data'].length;i++){
	            			task_name = Object.keys(data['data'][i])[0]
	            			task_id = data['data'][i][task_name]
	            			if (i == 0){

	            				td_html += "<td><a href='#' class='prg-task active' data-programtype-id="+task_id +">" + task_name +"</a></td>";         			
	            			}
	            			else{
	            				td_html += "<td><a href='#'  class='prg-task' data-programtype-id="+task_id +">" + task_name +"</a></td>"	            				
	            			}
	            		}
	            		$('#program-tasks').append('<tr>' + td_html + '</tr>')
	            		loadTaskData(tsk_id);
	            	}
	            },
	            error: function(xhr, status, error) {
	                var err = eval("(" + xhr.responseText + ")");
	                alert(err.Message);
	                //alert("Something went wrong, please try after some time");
	            }
    		});	

    	}

		$('#exampleModal').on('shown.bs.modal', function(){
            $('#taskDataForm').data('formValidation').resetForm();
			//$(this).find('form').trigger('reset');
			$('input[name=program_task]').val($('.prg-task.active').attr('data-programtype-id'));
    		$("#cke_22").hide();
    		$("#cke_15").hide();
    		$("#cke_30").hide();
    		$("#cke_35").hide();
		});

		$('#exampleModal').on('hidden.bs.modal', function (e) {
			$('#taskDataForm input').val('');
		});


    	if('.prg-type'){
    		$('.prg-type:first').addClass('active');
    	}

    	updateTaskTypes($('.prgrm-tab > li > a:eq(0)').attr("data-programtype-id"));

	$("#column-name").focusout(function(e) {
		e.preventDefault();
		$.ajax({
			url: '/get-column-name/',
			method: 'POST',
			data: {'task_id':$("input[name=program_task]").val(), 'column_name':$('#column-name').val(), 'task_data_id':$("input[name=task_data_id]").val()},
			success : function(data) {
				if(!data['success']){
					$('#column-name-error').text(data['msg']);
					$('#taskFormSubmit').prop('disabled', true);
					return false
				}else{
					$('#column-name-error').text('');
					$('#taskFormSubmit').prop('disabled', false);
					return true
				}

			},
            error: function(xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                alert(err.Message);
                //alert("Something went wrong, please try after some time");
            }
    	});		
	})

     $('#taskDataForm')
         .formValidation({
             framework: 'bootstrap',
             icon: {
                 valid: 'glyphicon glyphicon-ok',
                 invalid: 'glyphicon glyphicon-remove',
                 validating: 'glyphicon glyphicon-refresh'
             },
             fields: {
                 column_name: {
                     validators: {
                         notEmpty: {
                             message: 'The field is required'
                         },
                     }
                 }
             }
         })
         .on('success.form.fv', function(e) {
             // Save the form data via an Ajax request
             e.preventDefault();
             var data = CKEDITOR.instances["message-text"].getData();
             if(data.length < 1){
             	alert("Please provide data for the column.")
             	$('#taskFormSubmit').prop('disabled', true);

             }
             else{ 
             	$('#taskFormSubmit').removeClass('disabled');
             	$('#taskFormSubmit').prop('disabled', false);
	            var formData = new FormData(); 
	            formData.append('program_task_id', $('input[name=program_task]').val());
	            formData.append('task_data_id', $('input[name=task_data_id]').val());
	            formData.append('column_name', $('#column-name').val());
	            formData.append('column_data', data);
	            formData.append('column_number', $('input[name=column_number]').val());

				$.ajax({
					url: '/add-task-data/',
					method: 'POST',
					data: formData,
	                cache: false,
	                contentType: false,
	                processData: false,
					success : function(data) {
						if(data['success']){
							$('.tbl-btn.active').attr('data-taskdata-id',data['task_data_id']);
							$('.tbl-btn.active').text(data['column_name']);
							$('.tbl-btn.active').attr('data-columndata',data['column_data']);
							$('.tbl-btn.active').removeClass('active');
							$('#exampleModal').modal('hide');
							$('#taskDataForm')[0].reset();
							$('#taskDataForm').data('formValidation').resetForm();
							CKEDITOR.instances["message-text"].setData('');
							loadTaskData(data["task_id"])
						}
					},
	                error: function(xhr, status, error) {
	                    var err = eval("(" + xhr.responseText + ")");
	                    alert(err.Message);
	                }
            	});

             }
             $('#taskFormSubmit').removeClass('disabled');
             $('#taskFormSubmit').prop('disabled', false);

         });
    });	


	</script>
	</body>
	</html>