{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Admin Panel</title>

    <!-- Bootstrap -->
    <link href="{% static 'manage_admin/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'manage_admin/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'manage_admin/css/style.css' %}" rel="stylesheet">
    <!--<link href="{% static 'manage_admin/css/jquery-ui.css' %}" rel="stylesheet">-->
    <link href="{% static 'manage_admin/css/datepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'manage_admin/css/formValidation.min.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--<style type="text/css">
    	.ui-datepicker-calendar,.ui-datepicker-month { display: none; }
    </style>-->
  </head>
  <body>
    <section class="top-white-bg">
		<div class="container">
			<div class="row">
				<div class="col-xs-4 col-md-6 col-sm-6">
					<a href="/knowledgebase/admin/" class="logo"><img src="{% static 'manage_admin/images/logo.png' %}" alt=""></a>
				</div>
				<div class="col-xs-8 col-md-6 col-sm-6">
					<a href="{% url 'auth:logout' %}?next=/" class="logout  pull-right"><i class="fa fa-power-off" aria-hidden="true"></i></a>
				</div>
			</div>
		</div>
	</section>
	
	<section class="process-create">
	  	<div class="container">
			<div class="create-heading text-uppercase pull-left">
				<h1 data-processid="{{data.process_id}}">{{data.process_name}}</h1>
			</div>
			<div class="clearfix"></div>
			<div class="enabled">
				<div class="white-bg">
					<div class="red-bg clearfix">
						<div class="create-heading pull-left">
							<ul class="process-tab">
								<li><a href="#" data-subprocessid="{{data.sub_process_id}}" class="active">{{data.sub_process_name}}</a></li>
							</ul>
						</div>
						<!--<div class="edit-white pull-right">
							<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
						</div>-->
					</div>

					<div class="padding-15">
						<script type="text/javascript"> tasks = []</script>
						<div class="program-type clearfix">
							<div class="create-heading pull-left">
								 <ul class="prgrm-tab">
								 {% for key, val in data.programs.iteritems %}
									<li><a href="#"  data-programtype-id="{{val.id}}" class="prg-type">{{key}}</a></li>
								 {% endfor %}

								 </ul>
						    </div>
								<div class="edit2 pull-right">
									<!--<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>-->
									<a href="#" id="add-programtypes"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a>
								</div>
						</div>	
						<table class="table table-style" id="program-tasks">
						</table>
						<div class="gray-bg" style="">
							<div class="sub-text clearfix">
								<div class="create-heading pull-left">
								<h3>Task Data </h3>
								</div>
								<div class="edit2 pull-right">
									<!--<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>-->
									<a href="#" id="add-columns"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a>
								</div>
							</div>
							<div class="white-bg">
								<div class="padding-15" id="columns">
									<a href="#" class="task-column tbl-btn" data-number="1" data-taskdata-id="">Column Name	</a>
									<a href="#" class="task-column tbl-btn" data-number="2" data-taskdata-id=''>Column Name	</a>
									<a href="#" class="task-column tbl-btn" data-number="3" data-taskdata-id=''>Column Name	</a>
									<a href="#" class="task-column tbl-btn" data-number="4" data-taskdata-id=''>Column Name	</a>
									<a href="#" class="task-column tbl-btn" data-number="5" data-taskdata-id=''>Column Name </a>
								</div>
							</div>
						</div>

						<div class="gray-bg" style="border-bottom: 1px solid #000;">
							<div class="sub-text clearfix">
								<div class="create-heading pull-left">
								<h3>Task Additional Data </h3>
								</div>
								<div class="edit2 pull-right">
									<!--<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>-->
									<a href="#" id="add-addl-columns"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a>
								</div>
							</div>
							<div class="white-bg">
								<div class="padding-15" id="addl-columns">
									<a href="#" class="addl-column tbl-btn" data-number="1" data-additionaldata-id="">Title	</a>
									<a href="#" class="addl-column tbl-btn" data-number="2" data-additionaldata-id=''>Title	</a>
									<a href="#" class="addl-column tbl-btn" data-number="3" data-additionaldata-id=''>Title	</a>
									<a href="#" class="addl-column tbl-btn" data-number="4" data-additionaldata-id=''>Title	</a>
									<a href="#" class="addl-column tbl-btn" data-number="5" data-additionaldata-id=''>Title </a>
								</div>
							</div>
						</div>

						<div class="gray-bg" style="border-bottom: 1px solid #000;">
							<div class="sub-text clearfix">
								<div class="create-heading pull-left">
								<h3>Carousel Updates </h3>
								</div>
								<div class="edit2 pull-right">
									<!--<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>-->
									<a href="#" id="add-carousel-columns"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a>
								</div>
							</div>
							<div class="white-bg">
								<div class="padding-15" id="carousel-columns">
									<a href="#" class="carousel-column tbl-btn" data-number="1" data-carouseldata-id="">Column Name	</a>
									<a href="#" class="carousel-column tbl-btn" data-number="2" data-carouseldata-id=''>Column Name	</a>
									<a href="#" class="carousel-column tbl-btn" data-number="3" data-carouseldata-id=''>Column Name	</a>
									<a href="#" class="carousel-column tbl-btn" data-number="4" data-carouseldata-id=''>Column Name	</a>
									<a href="#" class="carousel-column tbl-btn" data-number="5" data-carouseldata-id=''>Column Name </a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	  </section>
  
  	  <div class="modal-style" style="width:100%">
  		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
		  <div class="modal-dialog" role="document" style="width: 80%;">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">Table Heading</h4>
		      </div>
		      <div class="modal-body">
		        <form id="taskDataForm">
		          <input type="hidden" class="form-control" name='program_task' value='' >
		          <input type="hidden" class="form-control" name='task_data_id' value='' >
		          <input type="hidden" class="form-control" name='column_number' value='' >
		          <div class="form-group">
		            <input type="text" class="form-control" name="column_name" id="column-name" placeholder="Task Definition	">
		            <p id="column-name-error" style="color:red"></p>
		          </div>
		          <h4 class="modal-title margin-bottom-10px" >Table Text</h4>
		          <div class="form-group">
		            <textarea class="form-control" name="column_data" id="message-text"></textarea>
		          </div>
			      <div class="modal-footer">
			        <!--<button type="button" class="btn btn-primary"><i class="fa fa-trash-o" aria-hidden="true"></i></button>-->
			        <button type="submit" class="btn btn-primary" id="taskFormSubmit">Save</button>
			      </div>
		        </form>
		      </div>
		      <!--<div class="modal-footer">
		        <button type="button" class="btn btn-primary"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
		        <button type="button" class="btn btn-primary">Save</button>
		      </div>-->
		    </div>
		  </div>
		</div>	
	  </div>


  	  <div class="modal-style" style="width:100%">
  		<div class="modal fade" id="carouselModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
		  <div class="modal-dialog" role="document" style="width: 80%;">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">Name</h4>
		      </div>
		      <div class="modal-body">
		        <form id="carouselDataForm">
		          <input type="hidden" class="form-control" name='sub_process_id' value='' >
		          <input type="hidden" class="form-control" name='carousel_data_id' value='' >
		          <div class="form-group">
		            <input type="text" class="form-control" name="column_name" id="carousel-name" placeholder="">
		            <p id="carousel-name-error" style="color:red"></p>
		          </div>
		          <h4 class="modal-title margin-bottom-10px" >Data</h4>
		          <div class="form-group">
		            <textarea class="form-control" name="column_data" id="carouseldata-text"></textarea>
		          </div>
			      <div class="modal-footer">
			        <!--<button type="button" class="btn btn-primary"><i class="fa fa-trash-o" aria-hidden="true"></i></button>-->
			        <button type="submit" class="btn btn-primary" id="carouselDataFormSubmit">Save</button>
			      </div>
		        </form>
		      </div>
		      <!--<div class="modal-footer">
		        <button type="button" class="btn btn-primary"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
		        <button type="button" class="btn btn-primary">Save</button>
		      </div>-->
		    </div>
		  </div>
		</div>	
	  </div>


  	  <div class="modal-style" style="width:100%">
  		<div class="modal fade" id="additionaldataModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
		  <div class="modal-dialog" role="document" style="width: 80%;">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title">Title</h4>
		      </div>
		      <div class="modal-body">
		        <form id="additionalDataForm">
		          <input type="hidden" class="form-control" name='program_task' value='' >
		          <input type="hidden" class="form-control" name='additionaldata_id' value='' >
		          <div class="form-group">
		            <input type="text" class="form-control" name="column_name" id="additionaldata-name" placeholder="">
		            <p id="additionaldata-name-error" style="color:red"></p>
		          </div>
		          <h4 class="modal-title margin-bottom-10px" >Text</h4>
		          <div class="form-group">
		            <textarea class="form-control" name="column_data" id="additionaldata-text"></textarea>
		          </div>
			      <div class="modal-footer">
			        <!--<button type="button" class="btn btn-primary"><i class="fa fa-trash-o" aria-hidden="true"></i></button>-->
			        <button type="submit" class="btn btn-primary" id="additionalDataFormSubmit">Save</button>
			      </div>
		        </form>
		      </div>
		      <!--<div class="modal-footer">
		        <button type="button" class="btn btn-primary"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
		        <button type="button" class="btn btn-primary">Save</button>
		      </div>-->
		    </div>
		  </div>
		</div>	
	  </div>


  	  <div class="modal-style" style="width:100%">
  		<div class="modal fade" id="addProgramDataModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
		  <div class="modal-dialog" role="document" style="width: 80%;">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title"></h4>
		      </div>
		      <div class="modal-body">
		        <form id="addProgramDataForm">
		        	{% csrf_token %}
				    <div class="form-group progs">
				    	<h4 class="modal-title margin-bottom-10px" >Program Type</h4>
				        <div class="col-xs-5 form-group">
				            <input type="text" class="form-control req" name="program_type_0_name" placeholder="Program Type" />
				        </div>
				        <div class="col-xs-5 form-group">
				            <input type="text" class="form-control req" name="program_task_0_name" placeholder="Program Task" />
				        </div>
				        <div class="col-xs-2">
				            <button type="button" class="btn btn-default addButton"><i class="fa fa-plus"></i></button>
				        </div>
				    </div>

				    <!--The template for adding new field-->
				    <div class="form-group hide" id="programTypeTemplate">
				        <div class="col-xs-5 form-group">
				            <input type="text" class="form-control" name="program-type-name" placeholder="Program Type" />
				        </div>
				        <div class="col-xs-5 form-group">
				            <input type="text" class="form-control" name="program-task-name" placeholder="Program Task" />
				        </div>
				        <div class="col-xs-2">
				            <button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button>
				        </div>
				    </div>
				    <div class="clearfix"></div>
				      <div class="modal-footer">
				        <!--<button type="button" class="btn btn-primary"><i class="fa fa-trash-o" aria-hidden="true"></i></button>-->
				        <button type="submit" class="btn btn-primary" id="addProgramDataSubmit">Save</button>
				      </div>
		        </form>
		      </div>
		      <!--<div class="modal-footer">
		        <button type="button" class="btn btn-primary"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
		        <button type="button" class="btn btn-primary">Save</button>
		      </div>-->
		    </div>
		  </div>
		</div>	
	  </div>
  
  
  
   
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'manage_admin/js/jquery.min.js' %}"></script>
    <script src="{% static 'manage_admin/js/bootstrap-datepicker.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'manage_admin/js/formValidation.min.js' %}"></script>
    <script src="{% static 'manage_admin/js/form_bootstrap.min.js' %}"></script>
    <script src="{% static 'manage_admin/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'ckeditor/ckeditor.js' %}"></script>
    <!--<script src="{% static 'manage_admin/js/jquery-ui.min.js' %}"></script>-->
	<script type="text/javascript">
	$(document).ready(function(){
	    CKEDITOR.replace('message-text');
	    CKEDITOR.replace('carouseldata-text');
	    CKEDITOR.replace('additionaldata-text');

	    $("body").on("click", ".task-column", function(e){
	    	e.preventDefault();
	    	$that = $(this);
	    	var data_id = $that.attr("data-taskdata-id");
	    	var data = taskDataIds[parseInt(data_id)]
	    	console.log(data)
	    	var column_name = $that.text();
	    	var column_number = $that.data("number");
	    	if (data_id)
	    		$('input[name=task_data_id]').val(data_id);
	    	$('.task-column').removeClass('active');
	    	$that.addClass('active');
	    	if (data && data.length > 0){
	    		$("#column-name").val(column_name);
	    		CKEDITOR.instances["message-text"].setData(data);
	    	}else{
	    		$("#column-name").val('');
	    		CKEDITOR.instances["message-text"].setData('');
	    	}
	    	//if(column_number)
	    	$('input[name=column_number]').val(column_number);
	    	/*else
	    		$('input[name=column_number]').val('');*/
  			$('#exampleModal').modal('show');
  			return false;
	    });

	    $("body").on("click", ".carousel-column", function(e){
	    	e.preventDefault();
	    	$that = $(this);
	    	var data_id = $that.attr("data-carouseldata-id");
	    	sub_process = $('.process-tab a.active').attr('data-subprocessid');
	    	$('input[name=sub_process_id]').val(sub_process);
	    	var data = carouselDataIds[parseInt(data_id)]
	    	console.log(data)
	    	var column_name = $that.text();
	    	if (data_id)
	    		$('input[name=carousel_data_id]').val(data_id);
	    	$('.carousel-column').removeClass('active');
	    	$that.addClass('active');
	    	
	    	if (data && data.length > 0){
	    		$("#carousel-name").val(column_name);
	    		CKEDITOR.instances["carouseldata-text"].setData(data);
	    	}else{
	    		$("#carousel-name").val('');
	    		CKEDITOR.instances["carouseldata-text"].setData('');
	    	}
  			$('#carouselModal').modal('show');
  			return false;
	    });

	    $("body").on("click", ".addl-column", function(e){
	    	e.preventDefault();
	    	$that = $(this);
	    	var data_id = $that.attr("data-additionaldata-id");
	    	var data = additionalDataIds[parseInt(data_id)]
	    	console.log(data)
	    	var column_name = $that.text();
	    	if (data_id)
	    		$('input[name=additionaldata_id]').val(data_id);
	    	$('.addl-column').removeClass('active');
	    	$that.addClass('active');
	    	
	    	if (data && data.length > 0){
	    		$("#additionaldata-name").val(column_name);
	    		CKEDITOR.instances["additionaldata-text"].setData(data);
	    	}else{
	    		$("#additionaldata-name").val('');
	    		CKEDITOR.instances["additionaldata-text"].setData('');
	    	}
  			$('#additionaldataModal').modal('show');
  			return false;
	    });


	    taskDataIds = {}
		var loadTaskData = function(task_id){
			$.ajax({
	            url: '/get-task-data/'+task_id,
	            type: 'GET',
	            success: function(data) {
	            	var data = data['data'];
	            	if (data.length > 0){
	            		$col = $("#columns");
	            		$col.html('');
	            		for(var i=0;i<data.length;i++){
	            			 taskDataIds[data[i].data_id] = data[i].data
	      					$col.append('<a href="#" data-number="'+data[i].column_number+'" class="task-column tbl-btn" data-taskdata-id="'+data[i].data_id+'">'+ data[i].column_name+'</a>');
	            		}
	            	}else{
	            		$col = $("#columns");
	            		$col.html('');
	      				$col.append('<a href="#" class="task-column tbl-btn" data-number="1" data-taskdata-id="">Column Name	</a><a href="#" class="task-column tbl-btn" data-number="2" data-taskdata-id="">Column Name	</a><a href="#" class="task-column tbl-btn" data-number="3" data-taskdata-id="">Column Name	</a><a href="#" class="task-column tbl-btn" data-number="4" data-taskdata-id="">Column Name	</a><a href="#" class="task-column tbl-btn" data-number="5" data-taskdata-id="">Column Name </a>');	          

	            	}
	            },
	            error: function(xhr, status, error) {
	                var err = eval("(" + xhr.responseText + ")");
	                alert(err.Message);
	                //alert("Something went wrong, please try after some time");
	            }
    		});	
		}

	    $('.prg-type').click(function (e) {
	    	e.preventDefault();
	    	$('.prg-type').removeClass('active');
	    	$(this).addClass('active');
	    	updateTaskTypes($(this).attr('data-programtype-id'));
	    });

	    $("body").on("click", ".prg-task", function(e){
			e.preventDefault();
	    	$('.prg-task').removeClass('active');
	    	$(this).addClass('active');
	    	loadTaskData($(this).data('programtype-id'));
	    	updateAdditionaldata($(this).data('programtype-id'));
	    });

	    $('#add-columns').on('click',function(e) {
	    	e.preventDefault();
	    	var column_number = parseInt($("#columns > a:last-child").data("number")) + 1;
	    	$('#columns').append('<a href="#" data-number="'+column_number+'" class="task-column tbl-btn" data-taskdata-id="" data-columndata="">Column Name</a>');
	    });

	    $('#add-carousel-columns').on('click',function(e) {
	    	e.preventDefault();
	    	$('#carousel-columns').append('<a href="#" data-number="" class="carousel-column tbl-btn" data-carouseldata-id="" >Column Name</a>');
	    });

	    $('#add-addl-columns').on('click',function(e) {
	    	e.preventDefault();
	    	$('#addl-columns').append('<a href="#" data-number="" class="addl-column tbl-btn" data-addldata-id="" >Title</a>');
	    });

    	function updateTaskTypes(program_type_id){
    		$('#program-tasks').html("")
    		$.ajax({
	            url: '/get-program-tasks/'+program_type_id,
	            type: 'GET',
	            success: function(data) {
	            	if (data['data']){
	            		td_html = ''
	            		tsk_id = data['data'][0][Object.keys(data['data'][0])[0]];
	            		for(var i=0;i<data['data'].length;i++){
	            			task_name = Object.keys(data['data'][i])[0]
	            			task_id = data['data'][i][task_name]
	            			if (i == 0){

	            				td_html += "<td><a href='#' class='prg-task active' data-programtype-id="+task_id +">" + task_name +"</a></td>";         			
	            			}
	            			else{
	            				td_html += "<td><a href='#'  class='prg-task' data-programtype-id="+task_id +">" + task_name +"</a></td>"	            				
	            			}
	            		}
	            		$('#program-tasks').append('<tr>' + td_html + '</tr>')
	            		loadTaskData(tsk_id);
	            		updateAdditionaldata(tsk_id);
	            	}
	            },
	            error: function(xhr, status, error) {
	                var err = eval("(" + xhr.responseText + ")");
	                alert(err.Message);
	                //alert("Something went wrong, please try after some time");
	            }
    		});	

    	}

		$('#exampleModal').on('shown.bs.modal', function(){
            $('#taskDataForm').data('formValidation').resetForm();
			//$(this).find('form').trigger('reset');
			$('input[name=program_task]').val($('.prg-task.active').attr('data-programtype-id'));
    		$("#cke_22").hide();
    		$("#cke_15").hide();
    		$("#cke_30").hide();
    		$("#cke_35").hide();
		});

		$('#exampleModal').on('hidden.bs.modal', function (e) {
			$('#taskDataForm input').val('');
		});

		$('#carouselModal').on('shown.bs.modal', function(){
            $('#carouselDataForm').data('formValidation').resetForm();
			//$(this).find('form').trigger('reset');
			$('input[name=sub_process_id]').val($('input[name=sub_process_id]').val());
    		$("#cke_22").hide();
    		$("#cke_15").hide();
    		$("#cke_30").hide();
    		$("#cke_35").hide();
		});


		$('#carouselModal').on('hidden.bs.modal', function (e) {
			$('#carouselDataForm input').val('');
		});


		$('#additionaldataModal').on('shown.bs.modal', function(){
            $('#additionalDataForm').data('formValidation').resetForm();
			//$(this).find('form').trigger('reset');
			$('input[name=program_task]').val($('.prg-task.active').attr('data-programtype-id'));
    		$("#cke_22").hide();
    		$("#cke_15").hide();
    		$("#cke_30").hide();
    		$("#cke_35").hide();
		});


		$('#additionaldataModal').on('hidden.bs.modal', function (e) {
			$('#additionalDataForm input').val('');
		});


    	if('.prg-type'){
    		$('.prg-type:first').addClass('active');
    	}

    	updateTaskTypes($('.prgrm-tab > li > a:eq(0)').attr("data-programtype-id"));

	$("#column-name").focusout(function(e) {
		e.preventDefault();
		if ($(this).val()) {
			$.ajax({
				url: '/get-column-name/',
				method: 'POST',
				data: {'task_id':$("input[name=program_task]").val(), 'column_name':$('#column-name').val(), 'task_data_id':$("input[name=task_data_id]").val()},
				success : function(data) {
					if(!data['success']){
						$('#column-name-error').text(data['msg']);
						$('#taskFormSubmit').prop('disabled', true);
						return false
					}else{
						$('#column-name-error').text('');
						$('#taskFormSubmit').prop('disabled', false);
						return true
					}

				},
	            error: function(xhr, status, error) {
	                var err = eval("(" + xhr.responseText + ")");
	                alert(err.Message);
	                //alert("Something went wrong, please try after some time");
	            }
	    	});
	    }		
	})


	$("#carousel-name").focusout(function(e) {
		e.preventDefault();
		if ($(this).val()) {
			$.ajax({
				url: '/get-carousel-column-name/',
				method: 'POST',
				data: {'subprocess_id':$("input[name=sub_process_id]").val(), 'column_name':$('#carousel-name').val(), 'carousel_data_id':$("input[name=carousel_data_id]").val()},
				success : function(data) {
					if(!data['success']){
						$('#carousel-name-error').text(data['msg']);
						$('#carouselDataFormSubmit').prop('disabled', true);
						return false
					}else{
						$('#carousel-name-error').text('');
						$('#carouselDataFormSubmit').prop('disabled', false);
						return true
					}

				},
	            error: function(xhr, status, error) {
	                var err = eval("(" + xhr.responseText + ")");
	                alert(err.Message);
	                //alert("Something went wrong, please try after some time");
	            }
	    	});
	    }		
	})


	$("#additionaldata-name").focusout(function(e) {
		e.preventDefault();
		if ($(this).val()) {
			$.ajax({
				url: '/get-addldata-column-name/',
				method: 'POST',
				data: {'task_id':$("input[name=program_task]").val(), 'column_name':$('#additionaldata-name').val(), 'addl_data_id':$("input[name=additionaldata_id]").val()},
				success : function(data) {
					if(!data['success']){
						$('#additionaldata-name-error').text(data['msg']);
						$('#additionalDataFormSubmit').prop('disabled', true);
						return false
					}else{
						$('#additionaldata-name-error').text('');
						$('#additionalDataFormSubmit').prop('disabled', false);
						return true
					}

				},
	            error: function(xhr, status, error) {
	                var err = eval("(" + xhr.responseText + ")");
	                alert(err.Message);
	                //alert("Something went wrong, please try after some time");
	            }
	    	});
	    }		
	})


     $('#taskDataForm')
         .formValidation({
             framework: 'bootstrap',
             icon: {
                 valid: 'glyphicon glyphicon-ok',
                 invalid: 'glyphicon glyphicon-remove',
                 validating: 'glyphicon glyphicon-refresh'
             },
             fields: {
                 column_name: {
                     validators: {
                         notEmpty: {
                             message: 'The field is required'
                         },
                     }
                 }
             }
         })
         .on('success.form.fv', function(e) {
             // Save the form data via an Ajax request
             e.preventDefault();
             var data = CKEDITOR.instances["message-text"].getData();
             if(data.length < 1){
             	alert("Please provide data for the column.")
             	$('#taskFormSubmit').prop('disabled', true);

             }
             else{ 
             	$('#taskFormSubmit').removeClass('disabled');
             	$('#taskFormSubmit').prop('disabled', false);
	            var formData = new FormData(); 
	            formData.append('program_task_id', $('input[name=program_task]').val());
	            formData.append('task_data_id', $('input[name=task_data_id]').val());
	            formData.append('column_name', $('#column-name').val());
	            formData.append('column_data', data);
	            formData.append('column_number', $('input[name=column_number]').val());

				$.ajax({
					url: '/add-task-data/',
					method: 'POST',
					data: formData,
	                cache: false,
	                contentType: false,
	                processData: false,
					success : function(data) {
						if(data['success']){
							$('.tbl-btn.active').attr('data-taskdata-id',data['task_data_id']);
							$('.tbl-btn.active').text(data['column_name']);
							$('.tbl-btn.active').attr('data-columndata',data['column_data']);
							$('.tbl-btn.active').removeClass('active');
							$('#exampleModal').modal('hide');
							$('#taskDataForm')[0].reset();
							$('#taskDataForm').data('formValidation').resetForm();
							CKEDITOR.instances["message-text"].setData('');
							loadTaskData(data["task_id"])
						}
					},
	                error: function(xhr, status, error) {
	                    var err = eval("(" + xhr.responseText + ")");
	                    alert(err.Message);
	                }
            	});

             }
             $('#taskFormSubmit').removeClass('disabled');
             $('#taskFormSubmit').prop('disabled', false);

         });

     $('#carouselDataForm')
         .formValidation({
             framework: 'bootstrap',
             icon: {
                 valid: 'glyphicon glyphicon-ok',
                 invalid: 'glyphicon glyphicon-remove',
                 validating: 'glyphicon glyphicon-refresh'
             },
             fields: {
                 column_name: {
                     validators: {
                         notEmpty: {
                             message: 'The field is required'
                         },
                     }
                 }
             }
         })
         .on('success.form.fv', function(e) {
             // Save the form data via an Ajax request
             e.preventDefault();
             var data = CKEDITOR.instances["carouseldata-text"].getData();
             if(data.length < 1){
             	alert("Please provide data for the column.")
             	$('#carouselDataFormSubmit').prop('disabled', true);

             }
             else{ 
             	$('#carouselDataFormSubmit').removeClass('disabled');
             	$('#carouselDataFormSubmit').prop('disabled', false);
	            var formData = new FormData(); 
	            formData.append('sub_process_id', $('input[name=sub_process_id]').val());
	            formData.append('carousel_data_id', $('input[name=carousel_data_id]').val());
	            formData.append('column_name', $('#carousel-name').val());
	            formData.append('column_data', data);

				$.ajax({
					url: '/add-carousel-data/',
					method: 'POST',
					data: formData,
	                cache: false,
	                contentType: false,
	                processData: false,
					success : function(data) {
						if(data['success']){
							$('.carousel-column.active').attr('data-carouseldata-id',data['carousel_data_id']);
							$('.carousel-column.active').text(data['column_name']);
							$('.carousel-column.active').attr('data-columndata',data['column_data']);
							$('.carousel-column.active').removeClass('active');
							$('#carouselModal').modal('hide');
							$('#carouselDataForm')[0].reset();
							$('#carouselDataForm').data('formValidation').resetForm();
							CKEDITOR.instances["carouseldata-text"].setData('');
							//loadTaskData(data["task_id"])
						}
					},
	                error: function(xhr, status, error) {
	                    var err = eval("(" + xhr.responseText + ")");
	                    alert(err.Message);
	                }
            	});

             }
             $('#carouselDataFormSubmit').removeClass('disabled');
             $('#carouselDataFormSubmit').prop('disabled', false);

         });


     $('#additionalDataForm')
         .formValidation({
             framework: 'bootstrap',
             icon: {
                 valid: 'glyphicon glyphicon-ok',
                 invalid: 'glyphicon glyphicon-remove',
                 validating: 'glyphicon glyphicon-refresh'
             },
             fields: {
                 column_name: {
                     validators: {
                         notEmpty: {
                             message: 'The field is required'
                         },
                     }
                 }
             }
         })
         .on('success.form.fv', function(e) {
             // Save the form data via an Ajax request
             e.preventDefault();
             var data = CKEDITOR.instances["additionaldata-text"].getData();
             if(data.length < 1){
             	alert("Please provide data for the column.")
             	$('#additionalDataFormSubmit').prop('disabled', true);

             }
             else{ 
             	$('#additionalDataFormSubmit').removeClass('disabled');
             	$('#additionalDataFormSubmit').prop('disabled', false);
	            var formData = new FormData(); 
	            formData.append('program_task_id', $('input[name=program_task]').val());
	            formData.append('additionaldata_id', $('input[name=additionaldata_id]').val());
	            formData.append('column_name', $('#additionaldata-name').val());
	            formData.append('column_data', data);

				$.ajax({
					url: '/add-addldata/',
					method: 'POST',
					data: formData,
	                cache: false,
	                contentType: false,
	                processData: false,
					success : function(data) {
						if(data['success']){
							$('.addl-column.active').attr('data-addldata-id',data['addl_data_id']);
							$('.addl-column.active').text(data['column_name']);
							$('.addl-column.active').attr('data-columndata',data['column_data']);
							$('.addl-column.active').removeClass('active');
							$('#additionaldataModal').modal('hide');
							$('#additionalDataForm')[0].reset();
							$('#additionalDataForm').data('formValidation').resetForm();
							CKEDITOR.instances["additionaldata-text"].setData('');
							updateAdditionaldata(data["task_id"]);
						}
					},
	                error: function(xhr, status, error) {
	                    var err = eval("(" + xhr.responseText + ")");
	                    alert(err.Message);
	                }
            	});

             }
             $('#additionalDataFormSubmit').removeClass('disabled');
             $('#additionalDataFormSubmit').prop('disabled', false);

         });


        carouselDataIds = {}

		var updateCarouseldata = function(sub_process_id){
			$.ajax({
	            url: '/get-carousel-data/'+sub_process_id,
	            type: 'GET',
	            success: function(data) {
	            	var data = data['data'];
	            	console.log(data)
	            	if (data.length > 0){
	            		$col = $("#carousel-columns");
	            		$col.html('');
	            		for(var i=0;i<data.length;i++){
	            			carouselDataIds[data[i].data_id] = data[i].data
	      					$col.append('<a href="#" data-number="" class="carousel-column tbl-btn" data-carouseldata-id="'+data[i].data_id+'">'+ data[i].column_name+'</a>');
	            		}
	            	}else{
	            		$col = $("#carousel-columns");
	            		$col.html('');
	      				$col.append('<a href="#" class="carousel-column tbl-btn" data-number="1" data-carouseldata-id="">Column Name	</a><a href="#" class="carousel-column tbl-btn" data-number="2" data-carouseldata-id="">Column Name	</a><a href="#" class="carousel-column tbl-btn" data-number="3" data-carouseldata-id="">Column Name	</a><a href="#" class="carousel-column tbl-btn" data-number="4" data-carouseldata-id="">Column Name	</a><a href="#" class="carousel-column tbl-btn" data-number="5" data-carouseldata-id="">Column Name </a>');	          

	            	}
	            },
	            error: function(xhr, status, error) {
	                var err = eval("(" + xhr.responseText + ")");
	                alert(err.Message);
	                //alert("Something went wrong, please try after some time");
	            }
    		});	
		}

         updateCarouseldata($('.process-tab a.active').attr('data-subprocessid'));

         $("body").on("click", ".process-tab", function(e){
         	updateCarouseldata($('.process-tab a.active').attr('data-subprocessid'));
         })

        additionalDataIds = {}

		var updateAdditionaldata = function(task_id){
			$.ajax({
	            url: '/get-addldata/'+task_id,
	            type: 'GET',
	            success: function(data) {
	            	var data = data['data'];
	            	console.log(data)
	            	if (data.length > 0){
	            		$col = $("#addl-columns");
	            		$col.html('');
	            		for(var i=0;i<data.length;i++){
	            			additionalDataIds[data[i].data_id] = data[i].data
	      					$col.append('<a href="#" data-number="" class="addl-column tbl-btn" data-additionaldata-id="'+data[i].data_id+'">'+ data[i].column_name+'</a>');
	            		}
	            	}else{
	            		$col = $("#addl-columns");
	            		$col.html('');
	      				$col.append('<a href="#" class="addl-column tbl-btn" data-number="1" data-additionaldata-id="">Title	</a><a href="#" class="addl-column tbl-btn" data-number="2" data-additionaldata-id="">Title </a><a href="#" class="addl-column tbl-btn" data-number="3" data-additionaldata-id="">Title	</a><a href="#" class="addl-column tbl-btn" data-number="4" data-additionaldata-id="">Title	</a><a href="#" class="addl-column tbl-btn" data-number="5" data-additionaldata-id="">Title </a>');	          

	            	}
	            },
	            error: function(xhr, status, error) {
	                var err = eval("(" + xhr.responseText + ")");
	                alert(err.Message);
	                //alert("Something went wrong, please try after some time");
	            }
    		});	
		}

	    $('#add-programtypes').on('click',function(e) {
	    	e.preventDefault();
	    	sub_process_id = $('.process-tab a.active').attr('data-subprocessid');
			$.ajax({
	            url: '/get-subprocess-programdata/'+sub_process_id,
	            type: 'GET',
	            success: function(data) {
	            	var data = data['data'];
	            	programTypeIndex = 0
	            	if (data.length > 0){
	            		program_data = $('#addProgramDataForm div.form-group.progs:not(:first)')
	            		program_data.remove();
	            		for(var i=0;i<data.length;i++){
	            			program_type = Object.keys(data[i])[0]
	            			program_tasks = data[i][program_type]
	            			if (i == 0){
	            				$('input[name=program_type_0_name').val(program_type);
	            				$('input[name=program_task_0_name').val(program_tasks);
	            			}
	            			else{
						        programTypeIndex++;
						        var $template = $('#programTypeTemplate'),
						            $clone = $template
						            .clone()
						            .removeClass('hide')
						            .addClass("progs")
						            .removeAttr('id')
						            .attr('data-programType-index', programTypeIndex)
						            .insertBefore($template);

						        // Update the name attributes
						        $clone
						            .find('[name="program-type-name"]').attr('name', 'program_type_'+programTypeIndex+'_name').end()
						            .find('[name="program-task-name"]').attr('name', 'program_task_'+programTypeIndex+'_name').end()

						        // Add new fields
						        // Note that we also pass the validator rules for new field as the third parameter

						        $('#addProgramDataForm')
						            .formValidation('addField', 'program_type_'+programTypeIndex+'_name', typeValidators)
						            .formValidation('addField', 'program_task_'+programTypeIndex+'_name', taskValidators)	

						        $('input[name=program_type_'+ i + '_name').val(program_type);
	            				$('input[name=program_task_' + i + '_name').val(program_tasks);          				
	            			}
	            			$('#addProgramDataModal').modal('show');
	            		}
	            	}else{
	            		program_data = $('#addProgramDataForm div.form-group.progs:not(:first)')
	            		program_data.remove();         

	            	}
	            },
	            error: function(xhr, status, error) {
	                var err = eval("(" + xhr.responseText + ")");
	                alert(err.Message);
	                //alert("Something went wrong, please try after some time");
	            }
    		});	

	    });

		programTypeIndex = 0;

	    // Add button click handler
	    $(".addButton").on('click', function() {
	        programTypeIndex++;
	        var $template = $('#programTypeTemplate'),
	            $clone = $template
	            .clone()
	            .removeClass('hide')
	            .addClass("progs")
	            .removeAttr('id')
	            .attr('data-programType-index', programTypeIndex)
	            .insertBefore($template);

	        // Update the name attributes
	        $clone
	            .find('[name="program-type-name"]').attr('name', 'program_type_'+programTypeIndex+'_name').end()
	            .find('[name="program-task-name"]').attr('name', 'program_task_'+programTypeIndex+'_name').end()

	        // Add new fields
	        // Note that we also pass the validator rules for new field as the third parameter

	        $('#addProgramDataForm')
	            .formValidation('addField', 'program_type_'+programTypeIndex+'_name', typeValidators)
	            .formValidation('addField', 'program_task_'+programTypeIndex+'_name', taskValidators)
	    });

	    // Remove button click handler
	    $("body").on('click', '.removeButton', function() {
	        var $row  = $(this).parents('.form-group'),
            index = $row.attr('data-programType-index');

	        // Remove fields
	        $('#addProgramDataForm')
	            .formValidation('removeField', $row.find('program_type_'+index+'_name'))
	            .formValidation('removeField', $row.find('program_task_'+index+'_name'))
	    
	        // Remove element containing the fields
        	$row.remove();

        	// to remove disabled class from addProgramDataForm submit
		    $('#addProgramDataForm :input.req').each(function(){
		        if($(this).val() == "" ) return false;
		        $('#addProgramDataSubmit').removeClass('disabled');
		        $('#addProgramDataSubmit').prop('disabled',false);
		    })
	    });

	    var typeValidators = {
	        validators: {
	            notEmpty: {
	                message: 'Program Type is required'
	            },
                callback: {
                    message: 'Only one Program Type is allowed',
                    callback: function(value, validator) {
                        if (value.indexOf(',') > -1) {
                            validator.updateStatus('typeValidators', 'INVALID');
                            return false;
                        } else {
                            return true;
                        }
                    }
                }
	        }
	    },
	    taskValidators = {
	        validators: {
	            notEmpty: {
	                message: 'Program Task is required'
	            },

	        }
	    }

	     $('#addProgramDataForm')
	         .formValidation({
	            fields: {
	                'program_type_0_name': typeValidators,
	                'program_task_0_name': taskValidators,
	            }
	         })
	         .on('success.form.fv', function(e) {
	             // Save the form data via an Ajax request
	             e.preventDefault();
			        var formData = new FormData();
			        //var file = $('input[name^="image_ref"]')[0].files[0];
			        //formData.append('file', file);
			        formData.append('csrfmiddlewaretoken', $("[name='csrfmiddlewaretoken']").val());
			        
			        var processData = {};
			        processData['sub_process_id'] = $('.process-tab a.active').attr('data-subprocessid');
			        programs = {}
			        p_type_error = false
			        $(".progs").each(function(){
			        	var prgName = $(this).find("div:eq(0) > input:eq(0)").val().toString();
			        	if(!programs[prgName]){
				        	var prgVals = $(this).find("div:eq(1) > input:eq(0)").val();
				        	if(prgVals.endsWith(","))
				        		prgVals = prgVals.slice(0,-1)
				        	programs[prgName] = prgVals.split(",");
				        }else{
				        	$err = $(this).find("div:eq(0) > small:eq(0)");
				        	$err.text(prgName + " already exists in programs.").css("color","#c92127").show();
				        	p_type_error = true
				        	return;
				        }
			        });
					processData['programs'] = programs;
					formData.append('processData', JSON.stringify(processData));
					 
					if (!p_type_error){  
				        $.ajax({
				                url: '/add-subprocess-programdata/'+sub_process_id,
				                type: 'POST',
				                data: formData,
				                cache: false,
				                contentType: false,
				                processData: false,
				                success: function(data) {
				                	if (data['success']){
				                		window.location='/process/'+ data['process_id']+'/sp/'+data['sub_process_url_name']+'/edit'
				                	}
				                	else{
				                		$('#span-msg').text(data['msg']);
				                		$('#msg-info').show();

				                	}
				                },
				                error: function(xhr, status, error) {
				                    var err = eval("(" + xhr.responseText + ")");
				                    alert(err.Message);
				                    //alert("Something went wrong, please try after some time");
				                }
				            })
				    }


	         });

		$('#addProgramDataModal').on('hidden.bs.modal', function (e) {
			$('#addProgramDataForm input').val('');
		});	  
		
		$('#addProgramDataModal').on('shown.bs.modal', function(){
            $('#addProgramDataForm').data('formValidation').resetForm();
		}); 

    });	


	</script>
	</body>
	</html>