{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Admin Panel</title>

    <!-- Bootstrap -->
    <link href="{% static 'manage_admin/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'manage_admin/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'manage_admin/css/style.css' %}" rel="stylesheet">
    <!--<link href="{% static 'manage_admin/css/jquery-ui.css' %}" rel="stylesheet">-->
    <link href="{% static 'manage_admin/css/datepicker.min.css' %}" rel="stylesheet">
    <link href="{% static 'manage_admin/css/formValidation.min.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--<style type="text/css">
    	.ui-datepicker-calendar,.ui-datepicker-month { display: none; }
    </style>-->
  </head>
  <body>
    <section class="top-white-bg">
		<div class="container">
			<div class="row">
				<div class="col-xs-4 col-md-6 col-sm-6">
					<a href="/umm/manage-admin/" class="logo"><img src="{% static 'manage_admin/images/logo.png' %}" alt=""></a>
				</div>
				<div class="col-xs-8 col-md-6 col-sm-6">
					<a href="{% url 'auth:logout' %}?next=/" class="logout  pull-right"><i class="fa fa-power-off" aria-hidden="true"></i></a>
					<a href="#" class="process-btn pull-right">Create New Process</a>
				</div>
			</div>
		</div>
	</section>
	
	  <section class="process-create">
	  	<div class="container">
			<!--<div class="create-heading text-uppercase pull-left">
				<h1>Create Process Heading</h1>
			</div>-->
			{% if messages %}
			<ul class="messages">
			    {% for msg in messages %}       
			    
			        <div class="alert alert-{{msg.level_tag}}" role="alert">
			        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			    {{msg.message}}
			    </div>
			    
			    {% endfor %}
			</ul>
			{% endif %}
			    <div class="alert alert-warning" role="alert" id="msg-info" style="display:none;">
			        <button type="button" class="close" onclick="hideMsg()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <span id="span-msg"></span>
			    </div>
			<form action="" method="post" name="process" id="process-form" class="form-horizontal" enctype="multipart/form-data">
			    {% csrf_token %}
			    <div class="form-group">
			        <label for="process-name" class="control-label col-sm-2">Name</label>
			        <div class="col-sm-5">
			            <input type="text" class="form-control" id="process-name" name="name" value="{{form.data.name}}">
			            <p id="process-name-error" style="color:red"></p>
			            {{ form.errors.name }}
			            {{form.non_field_errors}}
			        </div>
			    </div>
			    <div class="form-group">
			        <label for="image-ref" class="control-label col-sm-2">Image reference</label>
			        <div class="col-sm-5">
			            <label class="input-group-btn upload-file">
			                <span class="btn btn-primary load-file">
			                <i class="fa fa-file-text" aria-hidden="true"></i>&nbsp;
			                  <input type="file" name="image_ref" onChange="fileChange();" style="display: none;">Upload Image
			                  <p class="file-name" style="color: black;"></p>
			                </span>
			                <div class="clearfix"></div>
			            </label>
			        </div>
			    </div>
			    <!--<div class="form-group">
			        <label for="is-disabled" class="control-label col-sm-2">Is disabled</label> 
			        <div class="col-sm-10">
			            <input id="is-disabled" name="is_disabled" type="checkbox" {% if form.is_disabled.value %}checked{% endif %}>
			        </div>
			    </div>
			    <input type="submit" class="btn btn-primary add" ></input>
			</form>-->
			<div class="edit pull-right">
				<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
			</div>
			<div class="clearfix"></div>
			<div >
				<div class="">
					<div class="red-bg clearfix disabled" id="sub-process">
						<div class="create-heading pull-left" id="sub-process-hdg">
							<h2>Create SubProcess </h2>
						</div>
						<div class="process-rows" style="display: none">
						    <div class="form-group">
						        <label for="sub-process-name" class="control-label col-sm-2">Sub Process Name</label>
						        <div class="col-sm-5">
						            <input type="text" class="form-control" id="sub-process-name" name="sub_process_name" value="{{sub_process_form.data.name}}">
						            <p id="sub-process-name-error" style="color:red"></p>
						            {{ sub_process_form.errors.name }}
						            {{sub_process_form.non_field_errors}}
						        </div>
						    </div>
						    <div class="form-group">
						        <label for="quarter" class="control-label col-sm-2">Sub Process Quarter </label>
						        <div class="col-sm-1">
						            <select class="form-control" id="quarter" name="quarter">
						            <option id="1" value="1" >1</option>
						            <option id="2" value="2" >2</option>
						            <option id="3" value="3" >3</option>
						            <option id="4" value="4" >4</option>
						            </select>
						    	</div>
						    </div>
						    <div class="form-group">
						        <label for="quarter-year" class="control-label col-sm-2">Sub Process Year</label>
						        <div class="col-sm-3">
						        	<div class="input-group input-append date" id="quarter-year" >
								        <input  type="text"  name="quarter_year" class="form-control" >
								        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
								        <p id="quarter-year-error" style="color:red"></p>
								    </div>
						        </div>
						    </div>


					    </div>
						<div class="edit-white pull-right">
							<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
						</div>
					</div>
					<!--<div class="padding-15 disabled">-->
						<div class="red-bg clearfix disabled program-type" id="program-type">
							<div class="create-heading pull-left" id="program-type-hdg">
							<h3>Create Program Type and Tasks</h3>
						    </div>
						    <div class="process-type-rows" style="display: none">
						    	<!--<form id="programTypeForm" method="post" class="form-horizontal">
								    <div class="form-group">
								        <label class="col-xs-1 control-label">Program Type</label>
								        <div class="col-xs-4">
								            <input type="text" class="form-control" name="progamType[0].program-type-name" placeholder="Program Type" />
								        </div>
								        <div class="col-xs-4">
								            <input type="text" class="form-control" name="progamType[0].program-task-name" placeholder="Program Task" />
								        </div>
								        <div class="col-xs-1">
								            <button type="button" class="btn btn-default addButton"><i class="fa fa-plus"></i></button>
								        </div>
								    </div>

								    #The template for adding new field
								    <div class="form-group hide" id="progamTypeTemplate">
								        <div class="col-xs-4 col-xs-offset-1">
								            <input type="text" class="form-control" name="program-type-name" placeholder="Program Type" />
								        </div>
								        <div class="col-xs-4">
								            <input type="text" class="form-control" name="program-task-name" placeholder="Program Task" />
								        </div>
								        <div class="col-xs-1">
								            <button type="button" class="btn btn-default removeButton"><i class="fa fa-minus"></i></button>
								        </div>
								    </div>
								</form>-->
								{% if program_type_errors %}
									{% for i in program_type_errors %}
										{{i}}
									{% endfor %}
								{% endif %}
								{% if program_task_errors %}
									{% for j in program_task_errors %}
										{{j}}
									{% endfor %}
								{% endif %}
								<div class="container">
								    <div class="row clearfix">
								        <div class="col-xs-12 column">
								            <table class="table" id="tab_logic">
								                <thead>
								                    <tr >
								                        <th class="text-center col-xs-6" >
								                            Program Type
								                        </th>
								                        <th class="text-center col-xs-6">
								                            Program Task
								                        </th>
								                    </tr>
								                </thead>
								                <tbody>
								                    <tr id='addr0'>
								                        <td class="col-xs-5">
								                        <input type="text" name='program_type_0_name'  placeholder='Program Type' class="form-control"/>
								                        <p id="process-type-0-error" style="color:red"></p>
								                        </td>
								                        <td class="col-xs-5">
								                        <input type="text" name='program_task_0_name' placeholder='Program Task' class="form-control"/>
								                        <p id="process-task-0-error" style="color:red"></p>								                        
								                        </td>
								                        <td><button type="button" class="btn btn-default" id="add_row"><i class="fa fa-plus"></i></button></td>

								                    </tr>

								                    <tr id='addr1'></tr>
								                </tbody>
								            </table>
								        </div>
								    </div>
								   <!-- <a id='delete_row' class="pull-right btn btn-default">Delete Row</a>-->
								</div>
							</div>
							<div class="edit2 pull-right">
								<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
							</div>
						</div>	
						<!--<div class="gray-bg">
							<div class="sub-text clearfix disabled">
								<div class="create-heading pull-left">
								<h3>Create Table </h3>
								</div>
								<div class="edit2 pull-right">
									<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
								</div>
							</div>
							<div class="sub-text clearfix disabled">
								<div class="create-heading pull-left">
								<h3>Create Update</h3>
								</div>
								<div class="edit2 pull-right">
									<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
								</div>
							</div>
							<div class="sub-text clearfix disabled">
								<div class="create-heading pull-left">
								<h3>Create Key Words </h3>
								</div>
								<div class="edit2 pull-right">
									<a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>-->
					<!--</div>-->
				</div>
			</div>
						    <div class="form-group">
			        <label for="is-disabled" class="control-label col-sm-2">Is disabled</label> 
			        <div class="col-sm-10">
			            <input id="is-disabled" name="is_disabled" type="checkbox" {% if form.is_disabled.value %}checked{% endif %}>
			        </div>
			    </div>
			    <input type="submit" class="btn btn-primary add" ></input>
			    </form>
			
			
			
			
			
			
		</div>
	  </section>
  
  
  
   
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'manage_admin/js/jquery.min.js' %}"></script>
    <script src="{% static 'manage_admin/js/bootstrap-datepicker.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'manage_admin/js/formValidation.min.js' %}"></script>
    <script src="{% static 'manage_admin/js/form_bootstrap.min.js' %}"></script>
    <script src="{% static 'manage_admin/js/bootstrap.min.js' %}"></script>
    <!--<script src="{% static 'manage_admin/js/jquery-ui.min.js' %}"></script>-->
	<script type="text/javascript">
		$(document).ready(function() {
		    function hideMsg() {
		        $('#msg-info').css('display', 'none')
		    }

		    $('input[type=file]').on('change', prepareUpload);

		    function prepareUpload(event) {
		        files = event.target.files;
		    }

		    var fileChange = function() {
		        var files = $('input[name^="image_ref"]')[0].files
		        if (files) {
		            for (var i = 0; i < files.length; i++) {
		                filename = files[i].name;
		                var allowedFiles = ["gif,jpg,jpeg,tiff,png,bmp"];
		                if (!(/\.(gif|jpg|jpeg|tiff|png|bmp)$/i).test(filename)) {
		                    // inputted file path is not an image of one of the above types
		                    $('#span-msg').text('Please upload image only with extension ' + allowedFiles.join(', '))
		                    $('#msg-info').show();
		                    $('input[name^="image_ref"]').val('');
		                    $('.file-name').html('');
		                    return false;
		                }
		                hideMsg();
		                $('.file-name').html(filename);
		                return true;
		            }
		        }
		    }

		    function check_required_fields(){
		    	text = 'This field is required'
		    	if ($('#process-name').val() == ''){
		    		$('#process-name-error').text(text)
		    	} 
		    	if ($('#sub-process-name').val() == '' || $('#quarter_year').val() == '' || $('#program-type-0-name').val() == '' ||  $('#program-task-0-name').val() == ''){

					}

		    }

	    var typeValidators = {
	        validators: {
	            notEmpty: {
	                message: 'Program Type is required'
	            },

	        }
	    },
	    taskValidators = {
	        validators: {
	            notEmpty: {
	                message: 'Program Task is required'
	            },

	        }
	    }
     $('#process-form')
         .formValidation({
            fields: {
                name: {
                    validators: {
                        notEmpty: {
                            message: 'Name is required'
                        },

                    }
                },
                sub_process_name:{
                    validators: {
                        notEmpty: {
                            message: 'Sub Process Name is required'
                        },

                    }

                },
                quarter_year:{
                    validators: {
                        notEmpty: {
                            message: 'Sub Process Year is required'
                        },

                    }

                },
                /*program_type_0_name:{
                    validators: {
                        notEmpty: {
                            message: 'Program Type is required'
                        },

                    }
                },
                program_task_0_name:{
                    validators: {
                        notEmpty: {
                            message: 'Program Task is required'
                        },

                    }
                },*/
                'program_type_0_name': typeValidators,
                'program_task_0_name': taskValidators,
            }
         })
         .on('success.form.fv', function(e) {
             // Save the form data via an Ajax request
             e.preventDefault();
		        var formData = new FormData();
		        name = $('#process-name').val()

		        var file = $('input[name^="image_ref"]')[0].files;
		        formData.append('file', file);
		        formData.append('name', name);
		        //formData.append('image_ref', image_ref);

		        formData.append('is_disabled', $('#is-disabled').val());
		        formData.append('csrfmiddlewaretoken', $("[name='csrfmiddlewaretoken']").val());
		        formData.append('sub-process-name',$('#sub-process-name').val());
		        formData.append('quarter',$('#quarter').val())
		        formData.append('quarter_year',$('#quarter-year').val())
		        if ($('#quarter-year').val() == ''){
		        	
		        }
		        //check_required_fields()
		        $.ajax({
		                url: '/create/',
		                type: 'POST',
		                data: formData,
		                cache: false,
		                contentType: false,
		                processData: false,
		                success: function(data) {
		                	debugger;
		                    $('#process-form')[0].reset()
		                },
		                error: function(xhr, status, error) {
		                    var err = eval("(" + xhr.responseText + ")");
		                    alert(err.Message);
		                    //alert("Something went wrong, please try after some time");
		                }
		            })

         });

		   /* $("form#process-form").submit(function(e) {
		        debugger
		        e.preventdefault();
		        debugger;
		        var formData = new FormData();
		        name = $('#process-name').val()

		        var file = $('input[name^="image_ref"]')[0].files;
		        formData.append('file', file);
		        formData.append('name', name);
		        //formData.append('image_ref', image_ref);

		        formData.append('is_disabled', $('#is-disabled').val());
		        formData.append('csrfmiddlewaretoken', $("[name='csrfmiddlewaretoken']").val());
		        formData.append('sub-process-name',$('#sub-process-name').val());
		        formData.append('quarter',$('#quarter').val())
		        formData.append('quarter_year',$('#quarter-year').val())
		        if ($('#quarter-year').val() == ''){
		        	
		        }
		        //check_required_fields()
		        $.ajax({
		                url: '/create/',
		                type: 'POST',
		                data: formData,
		                cache: false,
		                contentType: false,
		                processData: false,
		                success: function(data) {
		                	//debugger;
		                    $('#process-form')[0].reset()
		                },
		                error: function(xhr, status, error) {
		                    var err = eval("(" + xhr.responseText + ")");
		                    alert(err.Message);
		                    //alert("Something went wrong, please try after some time");
		                }
		            })
		            //}
		    })*/

		    $("#process-name").focusout(function() {
		    	debugger
		        if ($(this).val()) {
			        $.ajax({
			                url: '/get-process/',
			                type: 'POST',
			                data: {'name':$("#process-name").val()},
			                success: function(data) {
			                	debugger;
			                	if (data['process_error'] != ''){
			                		$('#process-name-error').text(data['process_error']);
						            $('#sub-process').addClass('disabled');
						            $('#sub-process').addClass('red-bg');
						            $('#sub-process-hdg').css('display', 'block');
						            $('.process-rows').css('display', 'none')
			                	}
			                	else{
			                		$('#process-name-error').text('');
						            $('#sub-process').removeClass('disabled');
						            $('#sub-process').removeClass('red-bg');
						            $('#sub-process-hdg').css('display', 'none');
						            $('.process-rows').css('display', 'block');
			                	}
			                    //$('#process-form')[0].reset()
			                },
			                error: function(xhr, status, error) {
			                    var err = eval("(" + xhr.responseText + ")");
			                    alert(err.Message);
			                    //alert("Something went wrong, please try after some time");
			                }
			        })
		        } else {
		        	$('#process-name-error').text('');
		            $('#sub-process').addClass('disabled');
		            $('#sub-process').addClass('red-bg');
		            $('#sub-process-hdg').css('display', 'block');
		            $('.process-rows').css('display', 'none')
		        }
		    })

		    $('#quarter-year')
		        .datepicker({
		            format: "yyyy",
    				viewMode: "years", 
    				minViewMode: "years"
		        })
		        .on('changeDate', function(e) {
		            // Revalidate the date field
		            debugger;
		            $('#quarter-year').val(e.date.getFullYear());
		            $('#process-form').formValidation('revalidateField', 'quarter_year');
		            if (!$('#sub-process-name').hasClass('disabled') && $('#sub-process-name').val() && $('#quarter').val()) {
		                $('#program-type').removeClass('disabled');
		                $('#program-type-hdg').css('display', 'none');
		                $('.process-type-rows').css('display', 'block');
		                $('#program-type').removeClass('red-bg');
		            } else {
		                $('#program-type').addClass('disabled');
		                $('#program-type-hdg').css('display', 'block');
		                $('.process-type-rows').css('display', 'none');
		                $('#program-type').addClass('red-bg');
		            }

		        });
		        //changeMonth: false,
		        //changeYear: true,
		        //showButtonPanel: true,
		        //yearRange: '1950:2013', // Optional Year Range
		        /*dateFormat: 'yy',
		        onClose: function(dateText, inst) {
		            //$('#quarter-year').val(inst.selectedYear);
		            //var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
		            //$(this).datepicker('setDate', new Date(year, 0, 1));
		            if (!$('#sub-process-name').hasClass('disabled') && $('#sub-process-name').val() && $('#quarter').val()) {
		                $('#program-type').removeClass('disabled');
		                $('#program-type-hdg').css('display', 'none');
		                $('.process-type-rows').css('display', 'block');
		                $('#program-type').removeClass('red-bg');
		            } else {
		                $('#program-type').addClass('disabled');
		                $('#program-type-hdg').css('display', 'block');
		                $('.process-type-rows').css('display', 'none');
		                $('#program-type').addClass('red-bg');
		            }
		        }*/
		    //});

		    var programTypeValidators = {
		            row: '.col-xs-4', // The title is placed inside a <div class="col-xs-4"> element
		            validators: {
		                notEmpty: {
		                    message: 'The program type is required'
		                }
		            }
		        },
		        programTaskValidators = {
		            row: '.col-xs-4',
		            validators: {
		                notEmpty: {
		                    message: 'The program task is required'
		                },
		            }
		        },
		        prgramTypeIndex = 0;


		    $('#programTypeForm')
		        .formValidation({
		            framework: 'bootstrap',
		            icon: {
		                valid: 'glyphicon glyphicon-ok',
		                invalid: 'glyphicon glyphicon-remove',
		                validating: 'glyphicon glyphicon-refresh'
		            },
		            fields: {
		                'progamType[0].program-type-name': programTypeValidators,
		                'progamType[0].program-task-name': programTaskValidators,
		            }
		        })

		    // Add button click handler
		    .on('click', '.addButton', function() {
		        debugger;
		        prgramTypeIndex++;
		        var $template = $('#programTypeTemplate'),
		            $clone = $template
		            .clone()
		            .removeClass('hide')
		            .removeAttr('id')
		            .attr('data-progamType-index', progamTypeIndex)
		            .insertBefore($template);

		        // Update the name attributes
		        $clone
		            .find('[name="program-type-name"]').attr('name', 'progamType[' + progamTypeIndex + '].program-type-name').end()
		            .find('[name="program-task-name"]').attr('name', 'progamType[' + progamTypeIndex + '].program-task-name').end()

		        // Add new fields
		        // Note that we also pass the validator rules for new field as the third parameter

		        $('#programTypeForm')
		            .formValidation('addField', 'progamType[' + progamTypeIndex + '].program-type-name', programTypeValidators)
		            .formValidation('addField', 'progamType[' + progamTypeIndex + '].program-task-name', programTaskValidators)
		    })

		    // Remove button click handler
		    .on('click', '.removeButton', function() {
		        var $row = $(this).parents('.form-group'),
		            index = $row.attr('data-programType-index');

		        // Remove fields
		        $('#programTypeForm')
		            .formValidation('removeField', $row.find('[name="progamType[' + index + '].program-type-name"]'))
		            .formValidation('removeField', $row.find('[name="progamType[' + index + '].program-task-nam"]'))

		        // Remove element containing the fields
		        $row.remove();
		    });

		    var i = 1;
		    $("#add_row").click(function() {
		    	debugger;
		        $('#addr' + i).html('<td><input name="program_type_'+i+'_name"' + 'type="text" placeholder="Program Type" class="form-control input-md"  /> </td><td><input  name="program_task_'+i+'_name"' + "type='text' placeholder='Program Task'  class='form-control input-md'></td><td><button type='button' class='btn btn-default' id='delete_row'><i class='fa fa-minus'></i></button></td>");

		        $('#tab_logic').append('<tr id="addr' + (i + 1) + '"></tr>');
		        i++;
		    });


		    $("#tab_logic").on('click','#delete_row',function() {
		        if (i > 1) {
		            $("#addr" + (i - 1)).html('');
		            i--;
		        }
		    });

		    quarter = '{{sub_process_form.data.quarter.quarter}}'
		    if (quarter){
		    	$('#quarter').val(quarter)

		    }

		    error = '{{error}}'
		    if (error != ''){
		    	debugger
	            $('#sub-process').removeClass('disabled');
	            $('#sub-process').removeClass('red-bg');
	            $('#sub-process-hdg').css('display', 'none');
	            $('.process-rows').css('display', 'block');

                $('#program-type').removeClass('disabled');
                $('#program-type-hdg').css('display', 'none');
                $('.process-type-rows').css('display', 'block');
                $('#program-type').removeClass('red-bg');
		    }

		    program_type_errors = '{{program_type_errors}}'.replace(/&quot;/g,'"')
		    if (program_type_errors){
		    	program_type_errors = JSON.parse(program_type_errors)
		    	for (var j=0;j<program_type_errors.length;j++){
		    		console.log(Object.keys(program_type_errors[j])[0])
		    		key = Object.keys(program_type_errors[j])[0]
		    		$('input[name='+key+']').parent().append('<ul class="errorlist"><li>'+program_type_errors[j][key]['name'] +'</li></ul>')
		    	}
		    }
		    var html = $('tbody').html()
		    localStorage.setItem("dynamichtml", html);

		    program_task_errors = '{{program_task_errors}}'.replace(/&quot;/g,'"')
		    if (program_task_errors){
		    	program_task_errors = JSON.parse(program_task_errors)
		    	for (var k=0;k<program_task_errors.length;k++){
		    		console.log(Object.keys(program_task_errors[k])[0])
		    		key = Object.keys(program_task_errors[k])[0]
		    		$('input[name='+key+']').parent().append('<ul class="errorlist"><li>'+program_task_errors[k][key]['name'] +'</li></ul>')
		    	}
		    }


		    //$('#program-type-0-name')


		});
	</script>
  </body>
</html>
